{% extends 'base.twig' %}

{% block content %}
<section class="hero">
    <img class="ui fluid image" src="{{ header_url }}" srcset="{{ srcset }}" sizes="{{ size }}" alt="{{ header_url }}">
</section>
<section class="ui container title-overlay higher">
	<h2 class='title-overlay_title'>{{ page_data.title.rendered }}</h2>
	<div class='inner-container'>
		<section class='section mwf_intro'>
			{% for text in page_data.cmb2.mwf_intro if text is not empty %}				
			<p>{{ text }}</p>				
			{% endfor %}
		</section>

		{% include 'content_blocks/cta.twig' with 
			{
				title: 'Achieve Your Goals',
				excerpt: '',
				cta_txt: 'Apply to the fellowship today!',
				cta_url: '#',				
				width: 'full-container-width',
				text_align: 'center',
				background_color: '#25ace2',								
				background_img: ''
			}
		%}		

		<section class='section section1'>
			<h3>{{ page_data.cmb2.mwf_section1.mwf_section1_title }}</h3>
			{% for key, text in page_data.cmb2.mwf_section1 if text is not empty and key != 'mwf_section1_title' %}
			<p>{{ text }}</p>
			{% endfor %}
		</section>

		<section class='section section2'>
			<h3>{{ page_data.cmb2.mwf_section2.mwf_section2_title }}</h3>
			{% for key, text in page_data.cmb2.mwf_section2 if text is not empty and key != 'mwf_section2_title' %}
			<p>{{ text }}</p>
			{% endfor %}
		</section>

		{% include 'content_blocks/post-listings.twig' with 
			{
				headline: 'Hear From Our Fellows',
				cta_txt: 'Meet more Mandela Washington Fellowship alumni',
				cta_url: '#',
				background_color: '#192856',
				cta_background_color: '#F2D400',		
				posts: [
					{
						title: 'MWF Alumni Name Success Story',
						excerpt: 'Lorem ipsum dolor sit amet, ea habeo error ubique vim, ex veniam docendi...',
						img_src: 'data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==',
						post_url: '#',
						tags: []
					},
					{
						title: 'MWF Alumni Name Success Story',
						excerpt: 'Lorem ipsum dolor sit amet, ea habeo error ubique vim, ex veniam docendi...',
						img_src: 'data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==',
						post_url: '#',
						tags: []				
					},
					{
						title: 'MWF Alumni Name Success Story',
						excerpt: 'Lorem ipsum dolor sit amet, ea habeo error ubique vim, ex veniam docendi...',
						img_src: 'data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==',
						post_url: '#',
						tags: []
					}
				]
			}
		%}

		<section class='section application'>
			<h3 class='application_headline'>{{ page_data.cmb2.mwf_application.mwf_application_title }}</h3>
			
			<p class='full-width application_status'>The 2017 Mandela Washington Fellowship application is now closed.</p>
			
			{% if countdown %}
			<div class='section application_countdown'>
				{{ countdown }}
			</div>
			{% endif %}

			<div class='section application_timeline'>
				<h4>Application Process Timeline</h4>
				<div class='application_content'>{{ page_data.cmb2.mwf_application.mwf_application_process_timeline }}</div>
			</div>
			<div class='section application_selection'>
				<h4>Application Selection Process</h4>
				<div class='application_content'>{{ page_data.cmb2.mwf_application.mwf_application_selection_process }}</div>
			</div>
			<div class='section application_eligibility'>
				<h5>Who is eligible to apply?</h5>
				<div class='application_content'>{{ page_data.cmb2.mwf_application.mwf_application_eligibility }}</div>
			</div>
			<div class='section application_criteria'>
				<h5>What are the criteria for selection?</h5>
				<div class='application_content'>{{ page_data.cmb2.mwf_application.mwf_application_criteria }}</div>
			</div>
			<div class='section application_info'>
				<h5>Application Information</h5>
				<div class='application_content'>{{ page_data.cmb2.mwf_application.mwf_application_info }}</div>
			</div>
			<div class='section full-container-width application_resources'>
				<div class='inner-container'>
					<h4>Application Resources</h4>
					<a 
						href="{{ page_data.cmb2.mwf_application.mwf_application_instructions_pdf }}" 
						target='_blank'
						class='application_content cta_link'
					>
						Download the 2017 Application Instructions (PDF)
					</a>
					<a href="#" class='application_content cta_link'>Go to Application Tips <i class='angle right icon'></i></a>
					<a href="#" class='application_content cta_link'>Apply Now <i class='angle right icon'></i></a>
				</div>				
			</div>
		</section>

		{% include 'content_blocks/post-listings.twig' with 
			{
				headline: 'YALI Features',
				cta_txt: 'More from YALI Network In Action',
				cta_url: '#',
				background_color: '#192856',
				cta_background_color: '#F2D400',		
				posts: [
					{
						title: 'Lorem ipsum dolor sit amet',
						excerpt: 'Lorem ipsum dolor sit amet, ea habeo error ubique vim, ex veniam docendi...',
						img_src: 'data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==',
						post_url: '#',
						tags: [
							{ 'term_id': '4', name: 'tag 4' },
							{ 'term_id': '5', name: 'tag 5' },
							{ 'term_id': '6', name: 'tag 6' },
						]
					},
					{
						title: 'Lorem ipsum dolor sit amet',
						excerpt: 'Lorem ipsum dolor sit amet, ea habeo error ubique vim, ex veniam docendi...',
						img_src: 'data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==',
						post_url: '#',
						tags: [
							{ 'term_id': '4', name: 'tag 4' },
							{ 'term_id': '5', name: 'tag 5' },
							{ 'term_id': '6', name: 'tag 6' },
						]						
					},
					{
						title: 'Lorem ipsum dolor sit amet',
						excerpt: 'Lorem ipsum dolor sit amet, ea habeo error ubique vim, ex veniam docendi...',
						img_src: 'data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==',
						post_url: '#',
						tags: [
							{ 'term_id': '1', name: 'tag 1' },
							{ 'term_id': '2', name: 'tag 2' },
							{ 'term_id': '3', name: 'tag 3' },
						]
					}
				]
			}
		%}

		<section class='section application_faqs'>
			<div class='accordion_layout'>
				<h3>Frequently Asked Questions</h3>
				<div class='ui styled accordion'>
					<h4 class='title'>Application</h4>
					<div class='content'>
						<div class='application_faq'>
							<p class='application_faq_q'>Can I access the application from my phone or tablet?</p>
							<p class='application_faq_a'>Yes! You can access the application from any device that is connected to the internet. The application is mobile-friendly so it is easy to apply from your phone or tablet.</p>
						</div>
						<div class='application_faq'>
							<p class='application_faq_q'>How do I input my name into the application?</p>
							<p class='application_faq_a'>You should type your name exactly as it appears on your passport or other official government identification documents. For example, John’s passport says: NGOZI John Michael. He should type “John Michael” in the given names field and “Ngozi” in the surname field of the application.</p>
						</div>
						<div class='application_faq'>
							<p class='application_faq_q'>I am unable to move past the general information section. How do I apply?</p>
							<p class='application_faq_a'>Please review the eligibility requirements. The application will not let you proceed unless you meet general requirements and have fully completed the section.</p>
						</div>
						<div class='application_faq'>
							<p class='application_faq_q'>I signed up for email updates from the YALI Network and cannot get into the Mandela Washington Fellowship online application system. What do I do?</p>
							<p class='application_faq_a'>Signing up for YALI Network email updates does not create an account for you in the online application system. You must create a separate account to apply through the Mandela Washington Fellowship online application system at yaliapp.irex.org.</p>
						</div>
						<div class='application_faq'>
							<p class='application_faq_q'>How can I log in to the application system and see my information from last year?</p>
							<p class='application_faq_a'>The application has changed and all previous applications have been cleared. You will need to register again at yaliapp.irex.org in order to complete the 2017 application.</p>
						</div>
						<div class='application_faq'>
							<p class='application_faq_q'>Can I submit a paper copy of the Mandela Washington Fellowship application?</p>
							<p class='application_faq_a'>No, you must submit your application through the Mandela Washington Fellowship online application system (http://yaliapp.irex.org). Paper applications or applications by email attachment will not be accepted.</p>
						</div>
						<div class='application_faq'>
							<p class='application_faq_q'>Can I submit more than one application for the Mandela Washington Fellowship?</p>
							<p class='application_faq_a'>No, you may submit only one application. Submitting additional applications will disqualify you. If you do apply more than once, all your applications will be rejected.</p>
						</div>
						<div class='application_faq'>
							<p class='application_faq_q'>I have multiple email addresses, including some for personal use and some for my work. Which one(s) should I use for the Mandela Washington Fellowship application?</p>
							<p class='application_faq_a'>You should use the email address that you access most frequently and that can be accessed from any Internet connection. Work email addresses that cannot be accessed outside your office are not recommended.</p>
						</div>
						<div class='application_faq'>
							<p class='application_faq_q'>I cannot afford to pay an application fee. How should I apply?</p>
							<p class='application_faq_a'>There is no fee to apply for the Mandela Washington Fellowship.</p>
						</div>
						<div class='application_faq'>
							<p class='application_faq_q'>The application instructions say all answers must be my “own, original work.” What does that mean?</p>
							<p class='application_faq_a'>All answers must be in your own words. Be certain to not plagiarize. Plagiarism is taking someone else’s work or ideas and presenting them as your own. If you use another person’s writing, ideas, words, or materials you need to credit the source. Do not cut and paste ideas from the internet. Plagiarism is strictly forbidden at many organizations and academic institutions in the United States, and those who plagiarize their application materials will be disqualified. This also includes using the wording from a former applicant in your application. IREX and the Department of State will be checking all applications for plagiarism. For more information, visit <a href="http://www.plagiarism.org" target="_blank">www.plagiarism.org</a>.</p>
						</div>
						<div class='application_faq'>
							<p class='application_faq_q'>After I complete and submit my application, can I go back in and make changes or add supplemental materials at a later date?</p>
							<p class='application_faq_a'>No, once you have submitted your application, you can no longer add any additional information or make any changes. All information and documents must be uploaded prior to your final submission.</p>
						</div>
						<div class='application_faq'>
							<p class='application_faq_q'>I’m not sure which track to choose. How should I choose which track to apply to?</p>
							<p class='application_faq_a'>You should apply to the track which best aligns to your current work and/or long-term professional goals. All tracks will have a focus on leadership development and help Fellows strengthen skills transferable to a variety of industries, in areas such as strategic planning, communications and marketing, financial management, and organizational management. For more detailed information on each track, please review the application instructions.</p>
						</div>
						<div class='application_faq'>
							<p class='application_faq_q'>My current work doesn’t seem to fit into any of the tracks (Business and Entrepreneurship, Civic Leadership, Public Management). Should I still apply?</p>
							<p class='application_faq_a'>Absolutely! Past Mandela Washington Fellows have come from many different backgrounds and work in a wide variety of fields. There are transferable skills learned in all academic tracks of the program, and the overarching topics are applicable to a variety of sectors, including but not limited to entrepreneurship, non-profit management, healthcare, journalism, public service, education, tourism, human rights, agriculture, and environmental protection, to name a few. Check out the bios of past Mandela Washington Fellows in our online directory to get a better idea of the variety of industries that Fellows represent.</p>
						</div>
						<div class='application_faq'>
							<p class='application_faq_q'>Who should apply for the academic institute focused on Energy?</p>
							<p class='application_faq_a'>The Public Management Energy Policy Institute is designed for those wishing to better understand how energy policy can encourage energy access, infrastructure development, and financing in sub-Saharan Africa. Applicants for this Institute need not be currently working in government or in another public management role to apply to this Institute. Priority will be given to applicants with working responsibilities in this field. If they are not chosen for the Energy institute, applicants will still be considered for their other track selections.</p>
						</div>
					</div>

					<h4 class='title'>Disability and Other Accomodations</h4>
					<div class='content'>	
						<div class='application_faq'>
							<p class='application_faq_q'>I have a physical disability or other special need and I need another person’s assistance to complete my application. Is this considered plagiarism?</p>
							<p class='application_faq_a'>Individuals with disabilities are encouraged to apply for the Mandela Washington Fellowship. Applicants with physical disabilities or special needs who require another person’s assistance to complete an application may do so. However, the thoughts, ideas and content of your application must be your own; you cannot collaborate with the person assisting you on the content of their application.</p>
						</div>
						<div class='application_faq'>
							<p class='application_faq_q'>Can applicants with disabilities apply? Why does the application ask if I have a disability?</p>
							<p class='application_faq_a'>Yes, applicants with disabilities can absolutely apply and are encouraged to do so. The Mandela Washington Fellowship does not discriminate against applicants because of race, color, religion, sex, age, national origin, disability, or any other protected characteristic as established by U.S. law. The application includes a question about disability so that we are aware of what kinds of accommodations might be needed if you are interviewed or selected. Your answer to the question regarding disabilities is voluntary and will not impact your chances of acceptance.</p>
						</div>
						<div class='application_faq'>
							<p class='application_faq_q'>I have a family and would like to bring them with me to the United States if I am selected as a Fellow. Is this allowed?</p>
							<p class='application_faq_a'>No, you may not bring any members of your family with you to the United States. Program rules prohibit Fellows from bringing their dependents or other family members, and no dependent visas will be issued.</p>
						</div>
						<div class='application_faq'>
							<p class='application_faq_q'>Can you provide additional information on how Fellows with disabilities are accommodated during the Fellowship?</p>
							<p class='application_faq_a'>Please <a href='#' target='_blank'>click here</a> [PDF] for a more detailed description on what types of support Fellows with disabilities may receive during the Fellowship.</p>
						</div>
					</div>

					<h4 class='title'>Technical Eligibility Requirements</h4>
					<div class='content'>	
						<div class='application_faq'>
							<p class='application_faq_q'>I am currently 35 years old but will turn 36 before the Mandela Washington Fellowship application deadline closes. Am I eligible for the Mandela Washington Fellowship?</p>
							<p class='application_faq_a'>No, you are not eligible to apply for the Fellowship. Applicants must be between the ages of 25 and 35 at the time of the application deadline. If you are still 35 by October 26, 2016, you are eligible to apply. No exceptions will be made for candidates older than 35.</p>
						</div>
						<div class='application_faq'>
							<p class='application_faq_q'>I am younger than 25. Am I eligible for the Mandela Washington Fellowship?</p>
							<p class='application_faq_a'>Yes, you may be eligible for the Fellowship. Though the target age range is 25 to 35, exceptional candidates younger than 25 will be considered for the Fellowship. All applicants must be at least 21 at the time of the application deadline.</p>
						</div>
					</div>

					<h4 class='title'>Citizenship</h4>
					<div class='content'>	
						<div class='application_faq'>
							<p class='application_faq_q'>I am not sure if people from my country are eligible for the Fellowship. Where can I find a list of eligible countries?</p>
							<p class='application_faq_a'>You can view a list of countries eligible for the 2017 Mandela Washington Fellowship at <a href='#'>yali.state.gov/apply</a>.</p>
						</div>
						<div class='application_faq'>
							<p class='application_faq_q'> I left my African home country as a refugee and am now a U.S. citizen. Am I eligible to apply for the Mandela Washington Fellowship?</p>
							<p class='application_faq_a'>No, you are not eligible to apply for the Fellowship. U.S. citizens, permanent residents or green card holders are not eligible to apply for the Fellowship under any circumstances.</p>
						</div>
						<div class='application_faq'>
							<p class='application_faq_q'>I have dual citizenship in my African home country and the United Kingdom (or other eligible and non-eligible countries). Am I eligible to apply for the Mandela Washington Fellowship?</p>
							<p class='application_faq_a'>Maybe. If you live in one of the sub-Saharan African countries eligible for the Fellowship, you are eligible to apply. If you are accepted as a Fellow, you must apply for your U.S. visa and enter the U.S. on your eligible country passport. If you live in a country outside of Africa, you are not eligible to apply for the Fellowship regardless of your citizenship. Please see the information on residency below for more details.</p>
						</div>
						<div class='application_faq'>
							<p class='application_faq_q'>I am an employee of the U.S. government but am a citizen and resident of an eligible country. Am I eligible to apply for the Mandela Washington Fellowship?</p>
							<p class='application_faq_a'>o, you are not eligible to apply for the Fellowship. Employees and immediate family members of employees of the U.S. government are not eligible to apply for the Fellowship.</p>
						</div>
					</div>

					<h4 class='title'>Residency</h4>
					<div class='content'>	
						<div class='application_faq'>
							<p class='application_faq_q'>What do you mean by country of residence?</p>
							<p class='application_faq_a'>Your country of residence is the country in which you currently live and have a physical address. You must live in one of the countries eligible for the Fellowship to apply.</p>
						</div>
						<div class='application_faq'>
							<p class='application_faq_q'>I am a citizen of Ghana currently living in South Africa. Am I eligible to apply for the Mandela Washington Fellowship? What option do I choose for my country?</p>
							<p class='application_faq_a'>Yes, you are eligible for the Fellowship. Applicants living outside their country of citizenship but in another eligible country may apply. Please be sure to select the correct country of citizenship, but list your current permanent address in the legal residence section of the application.</p>
						</div>
						<div class='application_faq'>
							<p class='application_faq_q'>I am a resident of the United States, but I am originally from an African country. Am I eligible to apply for the Mandela Washington Fellowship?</p>
							<p class='application_faq_a'>No, you are not eligible for the Fellowship. Residents of the United States, or any non-eligible country, are not eligible for the Mandela Washington Fellowship under any circumstances, even those with temporary residency such as students.</p>
						</div>
						<div class='application_faq'>
							<p class='application_faq_q'>I am an African student studying in France (or another non-eligible country). Am I eligible to apply for the Mandela Washington Fellowship?</p>
							<p class='application_faq_a'>No, you are not eligible for the Fellowship. Residents of non-eligible countries are not eligible for the Fellowship under any circumstances, even those with temporary residency such as students. You may be eligible for a future Fellowship year once you permanently return to your home country, provided that you meet the other technical eligibility requirements.</p>
						</div>
						<div class='application_faq'>
							<p class='application_faq_q'>I have previously resided in the U.S. for school or work, but have returned and am now a resident in an eligible African country. Am I eligible to apply?</p>
							<p class='application_faq_a'>Yes, if you are currently a citizen and resident of an eligible African country, you are eligible to apply (pending compliance with other technical eligibility requirements).</p>
						</div>
						<div class='application_faq'>
							<p class='application_faq_q'>I am a citizen of a non-eligible country but have lived all my life in sub-Saharan Africa. Am I eligible to apply for the Mandela Washington Fellowship?</p>
							<p class='application_faq_a'>No, you must be both a citizen and a resident of an eligible country to apply for the Fellowship.</p>
						</div>
					</div>

					<h4 class='title'>Language</h4>
					<div class='content'>	
						<div class='application_faq'>
							<p class='application_faq_q'>I am not proficient in English. Can I participate in the Mandela Washington Fellowship using another language?</p>
							<p class='application_faq_a'>No. This Fellowship will be conducted in English. English proficiency is required. Applicants who are deaf please note, interpretation in the United States may only be available in American Sign Language (ASL), and Fellows should be proficient in, or prepared to learn ASL prior to their arrival in the USA.</p>
						</div>
						<div class='application_faq'>
							<p class='application_faq_q'>How can I improve my English Proficiency?</p>
							<p class='application_faq_a'>If English is not your primary language, you can sign up for FREE online courses to practice your professional English through the <a href='https://americanenglish.state.gov/american-english-moocs' target='_blank'>American English</a> website.  That site also has information about <a href='https://americanenglish.state.gov/culture-music-and-game-resources' target='_blank'>U.S. History and Culture</a> for non-native English speakers. You might also find the Voice of America’s <a href='https://learningenglish.voanews.com/' target='_blank'>Learning English</a> site to be helpful.</p>
						</div>
						<div class='application_faq'>
							<p class='application_faq_q'>How will language abilities be assessed?</p>
							<p class='application_faq_a'>Language abilities will be assessed through the online application and, if you are chosen for the next stage, during an interview at your local U.S. embassy. TOEFL scores are not required.</p>
						</div>
						<div class='application_faq'>
							<p class='application_faq_q'>My native language is French. Can I submit my application documents in French?</p>
							<p class='application_faq_a'>No. All applications must be written in English. Any supplemental documents originally in another language must be submitted with an English language translation.</p>
						</div>
					</div>

					<h4 class='title'>Miscellaneous</h4>
					<div class='content'>	
						<div class='application_faq'>
							<p class='application_faq_q'>Must I have attended university or have a university degree to apply?</p>
							<p class='application_faq_a'>No. Formal education plays a role in terms of what we are looking for in applicants, but you will not be disqualified if you do not have a formal diploma or degree.</p>
						</div>
						<div class='application_faq'>
							<p class='application_faq_q'>Will I be able to apply for visa to another country while in the United States?</p>
							<p class='application_faq_a'>If applicants are planning to pursue business, education or other opportunities in a foreign country (besides their own or the U.S.) after the Fellowship, we encourage applicants to secure visas for travel to other countries prior to their travel to the United States, if they are selected to participate in the Fellowship. In most instances, it is impossible to apply for visas to travel to other countries while you are way from your home country.</p>
						</div>
						<div class='application_faq'>
							<p class='application_faq_q'>Will I be able to take time off during the Fellowship to attend to other matters?</p>
							<p class='application_faq_a'>No. Fellows are expected to be fully engaged during the Institute. This includes full participation in all required activities, events, and sessions.</p>
						</div>
						<div class='application_faq'>
							<p class='application_faq_q'>I am currently serving in my country’s military, defense ministries, police, or other law enforcement. Am I eligible to apply?</p>
							<p class='application_faq_a'>Yes. Previous U.S. Congressional funding restrictions for this program have been lifted and we are able to consider applications from police, military, and defense ministries.</p>
						</div>
					</div>
				</div>
			</div>
		</section>

		{% include 'content_blocks/cta.twig' with 
			{
				title: 'Make a difference in your community',
				excerpt: '',
				cta_txt: 'Apply to the fellowship today!',
				cta_url: '#',				
				width: 'full-container-width',
				text_align: 'center',
				cta_background_color: '',
				background_color: '#25ace2',								
				background_img: ''
			}
		%}

		{% include 'content_blocks/cta.twig' with 
			{
				title: 'Partner with the next generation of African leaders',
				excerpt: 'Through the Young African Leaders Initiative (YALI), the U.S. government is working in partnership with a robust network of stakeholders from across the continent and in the United States to support young African leaders as they spur growth and prosperity, strenghthen democratic governance, and enhance peace and security across Africa.',
				cta_txt: 'Partner with the Mandel Washington Fellowship <i class="angle right icon"></i>',
				cta_url: '#',
				width: 'full-width',
				text_align: 'center',
				cta_background_color: '#F2D400',
				background_color: '',								
				background_img: 'data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='
			}
		%}

	</div>
</section>


{% endblock %}