{% extends 'base.twig' %}

{% block content %}
<section class="hero">
    <img class="ui fluid image" src="{{ header_url }}" srcset="{{ srcset }}" sizes="{{ size }}" alt="{{ header_url }}">
</section>
<section class="ui container">
	<div class='inner-container'>
		<section id='fellowship_application' class='section application-information'>
			<h2 class='application_headline'>{{ page_data.cmb2.mwf_app_application.mwf_app_application_title }}</h2>

			<p class='full-width application_status app_closed'>The 2019 Mandela Washington Fellowship application will open September 12 at 4 PM GMT!</p>

			{% if countdown %}
			<div class='section application_countdown'>
				{{ countdown }}
			</div>
			{% endif %}

			<div class='section application_timeline'>
				<h3>Timeline</h3>
				<div class='application_content'>{{ page_data.cmb2.mwf_app_application.mwf_app_application_process_timeline }}</div>
			</div>
			<div class='section full-container-width application_resources'>
				<div class='inner-container'>
					<h3>Application Resources</h3>
					<div class='ui two column grid'>
						<a
							href="{{ page_data.cmb2.mwf_app_application.mwf_app_application_instructions_pdf }}"
							target='_blank'
							class='application_content cta_link'
						>
							<span class='application_resources_resource'>Download the 2019 Application Instructions (PDF)</span>
						</a>
						<a href='#mandela-washington-fellowship-faqs' class='application_content cta_link scroll_link'>
							<span class='application_resources_resource'>Read the 2019 Frequently Asked Questions</span>
						</a>
					</div>
					<div class='ui two column grid'>
						<a href='/tag/MWF-application-information/' class='application_content cta_link'>
							<span class='application_resources_resource'>Go to Application Tips <i class='angle right icon'></i></span>
						</a>
						<a href='http://yaliapp.irex.org' target='_blank' class='application_content cta_link'>
							<span class='application_resources_resource'>View the Application <br> (Coming Soon) <i class='angle right icon'></i></span>
						</a>
					</div>
				</div>
			</div>
			<div class='section application_selection'>
				<h3>Application and Selection Process</h3>
				<div class='application_content'>{{ page_data.cmb2.mwf_app_application.mwf_app_application_selection_process }}</div>
			</div>
			<div class='section application_eligibility'>
				<h4>Who is eligible to apply?</h4>
				<div class='application_content'>{{ page_data.cmb2.mwf_app_application.mwf_app_application_eligibility }}</div>
			</div>
			<div class='section application_criteria'>
				<h4>What are the criteria for selection?</h4>
				<div class='application_content'>{{ page_data.cmb2.mwf_app_application.mwf_app_application_criteria }}</div>
			</div>
			<div class='section application_info'>
				<h4>Application Information</h4>
				<div class='application_content'>{{ page_data.cmb2.mwf_app_application.mwf_app_application_info }}</div>
			</div>
		</section>

		{{ addtl_content }}

	</div>
</section>
{% endblock %}
