{% extends 'base.twig' %}

{% block content %}	
<section class="hero">
    <img class="ui fluid image" src="{{ header_url }}" srcset="{{ srcset }}" sizes="{{ size }}" alt="{{ header_url }}">
</section>
<section class="ui container title-overlay higher">
	<h2 class='title-overlay_title'>{{ page_data.title.rendered }}</h2>
	<div class='inner-container'>		
		<section class='section mwf_intro'>
			{{ intro }}
		</section>						

		{% include 'content_blocks/post-listings.twig' with 
			{
				headline: 'Hear From Our Fellows',
				cta_txt: 'Meet more Mandela Washington Fellowship alumni',
				cta_url: '',
				background_color: '#192856',
				cta_background_color: '#F2D400',		
				posts: [
					{
						title: 'MWF Alumni Name Success Story',
						excerpt: 'Lorem ipsum dolor sit amet, ea habeo error ubique vim, ex veniam docendi...',
						img_src: 'data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==',
						post_url: '#',
						tags: []
					},
					{
						title: 'MWF Alumni Name Success Story',
						excerpt: 'Lorem ipsum dolor sit amet, ea habeo error ubique vim, ex veniam docendi...',
						img_src: 'data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==',
						post_url: '#',
						tags: []				
					},
					{
						title: 'MWF Alumni Name Success Story',
						excerpt: 'Lorem ipsum dolor sit amet, ea habeo error ubique vim, ex veniam docendi...',
						img_src: 'data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==',
						post_url: '#',
						tags: []
					}
				]
			}
		%}

		<section class='section application'>
			<h3 class='application_headline'>{{ page_data.cmb2.mwf_application.mwf_application_title }}</h3>
			
			<p class='full-width application_status'>The 2017 Mandela Washington Fellowship application is now closed.</p>
			
			{% if countdown %}
			<div class='section application_countdown'>
				{{ countdown }}
			</div>
			{% endif %}

			<div class='section application_timeline'>
				<h4>Application Process Timeline</h4>
				<div class='application_content'>{{ page_data.cmb2.mwf_application.mwf_application_process_timeline }}</div>
			</div>
			<div class='section application_selection'>
				<h4>Application Selection Process</h4>
				<div class='application_content'>{{ page_data.cmb2.mwf_application.mwf_application_selection_process }}</div>
			</div>
			<div class='section application_eligibility'>
				<h5>Who is eligible to apply?</h5>
				<div class='application_content'>{{ page_data.cmb2.mwf_application.mwf_application_eligibility }}</div>
			</div>
			<div class='section application_criteria'>
				<h5>What are the criteria for selection?</h5>
				<div class='application_content'>{{ page_data.cmb2.mwf_application.mwf_application_criteria }}</div>
			</div>
			<div class='section application_info'>
				<h5>Application Information</h5>
				<div class='application_content'>{{ page_data.cmb2.mwf_application.mwf_application_info }}</div>
			</div>
			<div class='section full-container-width application_resources'>
				<div class='inner-container'>
					<h4>Application Resources</h4>
					<a 
						href="{{ page_data.cmb2.mwf_application.mwf_application_instructions_pdf }}" 
						target='_blank'
						class='application_content cta_link'
					>
						Download the 2017 Application Instructions (PDF)
					</a>
					<a href="#" class='application_content cta_link'>Go to Application Tips <i class='angle right icon'></i></a>
					<a href="#" class='application_content cta_link'>Apply Now <i class='angle right icon'></i></a>
				</div>				
			</div>
		</section>

		{% include 'content_blocks/post-listings.twig' with 
			{
				headline: 'YALI Features',
				cta_txt: 'More from YALI Network In Action',
				cta_url: '#',
				background_color: '#192856',
				cta_background_color: '#F2D400',		
				posts: [
					{
						title: 'Lorem ipsum dolor sit amet',
						excerpt: 'Lorem ipsum dolor sit amet, ea habeo error ubique vim, ex veniam docendi...',
						img_src: 'data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==',
						post_url: '#',
						tags: [
							{ 'term_id': '4', name: 'tag 1', slug: 'tag-1' },
							{ 'term_id': '5', name: 'tag 2', slug: 'lorem' },
							{ 'term_id': '6', name: 'tag 3', slug: 'ipsum' },
						]
					},
					{
						title: 'Lorem ipsum dolor sit amet',
						excerpt: 'Lorem ipsum dolor sit amet, ea habeo error ubique vim, ex veniam docendi...',
						img_src: 'data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==',
						post_url: '#',
						tags: [
							{ 'term_id': '4', name: 'tag 1', slug: 'tag-1' },
							{ 'term_id': '5', name: 'tag 2', slug: 'lorem' },
							{ 'term_id': '6', name: 'tag 3', slug: 'ipsum' },
						]						
					},
					{
						title: 'Lorem ipsum dolor sit amet',
						excerpt: 'Lorem ipsum dolor sit amet, ea habeo error ubique vim, ex veniam docendi...',
						img_src: 'data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==',
						post_url: '#',
						tags: [
							{ 'term_id': '4', name: 'tag 1', slug: 'tag-1' },
							{ 'term_id': '5', name: 'tag 2', slug: 'lorem' },
							{ 'term_id': '6', name: 'tag 3', slug: 'ipsum' },
						]
					}
				]
			}
		%}

		{{ addtl_content }}

	</div>
</section>


{% endblock %}