{% extends 'base.twig' %}

{% block content %}
<section class="hero">
    <img class="ui fluid image" src="{{ header_url }}" srcset="{{ srcset }}" sizes="{{ size }}" alt="{{ header_url }}">
</section>
<section class="ui container">
	<h1 class='title-overlay_title'>{{ page_data.title.rendered }}</h1>
	<div class='inner-container'>
		<section class='section mwf_intro'>
			{{ intro }}
		</section>

		<section class='section learn-more'>
			<div class='learn-more_links'>
				<h3>Learn more about the Fellowship</h3>
				<a href='#about' class='cta_link scroll_link'><span class='text_break'>Program Overview</span> and Components</a>
				<a href='/mwf/apply/' class='cta_link'><span class='text_break'>Application for</span> the Fellowship</a>
				<a href='/impact/' class='cta_link'><span class='text_break'>Impact and</span> Alumni Stories</a>
				<a href='/us' class='cta_link'><span class='text_break'>Information for</span> U.S. Audiences</a>
			</div>
		</section>

		<section class='section full-width mwf_social'>
			<h3>Stay connected with the Fellowship:</h3>
			<div class='ui container'>
				<a href='https://www.facebook.com/MandelaWashingtonFellowship/' target='_blank' class='mwf_social_link mwf_social_link--facebook'></a>
				<a href='https://twitter.com/WashFellowship' target='_blank' class='mwf_social_link mwf_social_link--twitter'></a>
				<a href='https://www.flickr.com/photos/washingtonfellowship/' target='_blank' class='mwf_social_link mwf_social_link--flickr'></a>
			</div>
		</section>

		<section id='about' class='section'>
			{{ about }}
		</section>

		{{ addtl_content }}

	</div>
</section>


{% endblock %}
