{% extends 'base.twig' %}

{% block content %}
<section class="hero">
    <img class="ui fluid image" src="{{ header_url }}" srcset="{{ srcset }}" sizes="{{ size }}" alt="{{ header_url }}">
</section>
<section class="ui container">
	<h2 class='title-overlay_title'>{{ page_data.title.rendered }}</h2>
	<div class='inner-container campaign'>		
		<section class='page-content'>
			{{ page_data.content.rendered }}          
		</section>

		{% include 'content_blocks/post-single.twig' with 
			{
				title: 'Read about the important issues facing women and girls around the world',
				img_src: 'data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==',
				headline: 'Lorem Ipsum Dolor Sit Amet',
				excerpt: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nisi nisi, ullamcorper nec ornare eget, consectetur vitae dolor. Nam accumsan gravida turpis, at tempor nibh aliquam vitae.',
				cta_link: '#',
				cta_text: 'Read more about women and girls <i class="chevron right icon"></i>'
			} 
		%}

		{% include 'content_blocks/post-single.twig' with 
			{
				title: 'Take the course',
				img_src: 'data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==',
				headline: 'Understanding the Human Rights of Women and Girls',
				excerpt: 'This three-lesson course addresses the marginalization and unique challenges facing women and girls - from gender discrimination and inequality in education to a lack of opportunity in business to assaults on their safety and dignity from gender based violence.',
				cta_link: '#',
				course: 'true'
			} 
		%}

		<section class='section promote'>
			<h3>Promote {{ page_data.title.rendered }}</h3>
			<p>Download, use and share these graphics on social media.</p>						
			<div class='ui stackable grid promote_item'>

				{% for promo in promo_data %}
				<div class='eight wide column promote_item'>
					<div class='promote_item_img' data-preview-image='{{ promo.image_url }}' style='background-image: url({{ promo.image_url }}); background-size: cover;'></div>
					<p class='promote_item_text'>{{ promo.image_text }}</p>
				</div>				
				{% endfor %}
			</div>
		</section>

		<section class='section org_event'>
			<h3>Organize an event</h3>
			<p class='org_event_text'>Organize a <a href='#'>#YALILearns</a> event and facilitate <a href='#' class=''><em>Understanding the Rights of Women and Girls</em></a> 
				to raise awareness and educate your community about alleviating these challenges, and empower female populations
				politically, socially and economically. Use our facilitation guide or presentation template to help you get started.</p>
			<div class='ui stackable grid org_event_items'>
				{% for file in orgevent_data %}
				<div class='eight wide column org_event_item'>
					<a href='{{ file.file_url }}' target='target_blank' class='cta_link'>{{ file.file_name }}</a>
				</div>
				{% endfor %}				
			</div>												
		</section>

		{{ social_block }}

		{% include 'content_blocks/post-grid.twig' with 
			{
				headline: 'Suggested Content',
				posts: [
					{
						link: 'http://yali.rebuild.local/wp/lorem-ipsum/',
						title: 'Post 1 Lorem ipsum set abet ipsum', 
						excerpt: 'Lorem ipsum set abet ipsum Lorem ipsum set abet ipsum', 
						tags: [
							{ 'term_id': '4', name: 'tag 1', slug: 'tag-1' },
							{ 'term_id': '5', name: 'tag 2', slug: 'lorem' },
							{ 'term_id': '6', name: 'tag 3', slug: 'ipsum' }
						],
						featured_img_url: 'data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='
					},
					{
						link: 'http://yali.rebuild.local/wp/lorem-ipsum/',
						title: 'Post 2 Lorem ipsum set abet ipsum', 
						excerpt: 'Lorem ipsum set abet ipsum Lorem ipsum set abet ipsum', 
						tags: [
							{ 'term_id': '4', name: 'tag 1', slug: 'tag-1' },
							{ 'term_id': '5', name: 'tag 2', slug: 'lorem' },
							{ 'term_id': '6', name: 'tag 3', slug: 'ipsum' }
						],
						featured_img_url: 'data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='
					},
					{
						link: 'http://yali.rebuild.local/wp/lorem-ipsum/',
						title: 'Post 3 Lorem ipsum set abet ipsum', 
						excerpt: 'Lorem ipsum set abet ipsum Lorem ipsum set abet ipsum', 
						tags: [
							{ 'term_id': '4', name: 'tag 1', slug: 'tag-1' },
							{ 'term_id': '5', name: 'tag 2', slug: 'lorem' },
							{ 'term_id': '6', name: 'tag 3', slug: 'ipsum' }
						],
						featured_img_url: 'data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==',
						featured_post: 'true'
					}
				]
			} 
		%}

		{% include 'content_blocks/honeycomb.twig' with 
			{ 				
				headline: 'Stay Involved',
				subheadline: 'Check out other YALI Network Campaigns',	
				content: campaigns,
				bg_color: 'lightblue'
			} 
		%}

	</div>
</section>
{% endblock %}