{% extends 'base.twig' %}

{% block content %}
<section class="hero">
    <img class="ui fluid image" src="{{ header_url }}" srcset="{{ srcset }}" sizes="{{ size }}" alt="{{ header_url }}">
</section>
<section class="ui container">
	<h2 class='title-overlay_title'>{{ page_data.title.rendered }}</h2>
	<div class='inner-container campaign'>		      
		<section class='page-content'>
			{{ page_data.content.rendered }}          
			
			<h5>QUIZZR EMBED</h5>
		</section>

		{% include 'content_blocks/post-grid.twig' with 
			{
				headline: 'Related Content',
				posts: [
					{
						link: 'http://yali.rebuild.local/wp/lorem-ipsum/',
						title: 'Post 1 Lorem ipsum set abet ipsum', 
						excerpt: 'Lorem ipsum set abet ipsum Lorem ipsum set abet ipsum', 
						tags: [
							{ 'term_id': '4', name: 'tag 1', slug: 'tag-1' },
							{ 'term_id': '5', name: 'tag 2', slug: 'lorem' },
							{ 'term_id': '6', name: 'tag 3', slug: 'ipsum' }
						],
						featured_img_url: 'data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='
					},
					{
						link: 'http://yali.rebuild.local/wp/lorem-ipsum/',
						title: 'Post 2 Lorem ipsum set abet ipsum', 
						excerpt: 'Lorem ipsum set abet ipsum Lorem ipsum set abet ipsum', 
						tags: [
							{ 'term_id': '4', name: 'tag 1', slug: 'tag-1' },
							{ 'term_id': '5', name: 'tag 2', slug: 'lorem' },
							{ 'term_id': '6', name: 'tag 3', slug: 'ipsum' }
						],
						featured_img_url: 'data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='
					},
					{
						link: 'http://yali.rebuild.local/wp/lorem-ipsum/',
						title: 'Post 3 Lorem ipsum set abet ipsum', 
						excerpt: 'Lorem ipsum set abet ipsum Lorem ipsum set abet ipsum', 
						tags: [
							{ 'term_id': '4', name: 'tag 1', slug: 'tag-1' },
							{ 'term_id': '5', name: 'tag 2', slug: 'lorem' },
							{ 'term_id': '6', name: 'tag 3', slug: 'ipsum' }
						],
						featured_img_url: 'data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==',
						featured_post: 'true'
					}				
				]
			} 
		%}

	</div>
</section>
{% endblock %}