{% extends 'base.twig' %}

{% block content %}
<section class="hero image_6-1" data-responsive-background-image>
     <img src="{{ header_url }}"
      sizes="{{ sizes }}"
      srcset="{{ srcset }}">
		<div class="hero-inner bottom_padd bottom_padd--thin">
    	<div class="hero-content ui container">
    		<h1 class="hero-h1">{{ page_data.title.rendered }}...</h1>    		
    	</div>
    </div>
</section>

<section class="ui container">	
	<div class='inner-container'>
		<section class='section yali-is_intro'>
			{{ page_data.content.rendered }}
		</section>		

		<section>{{ social_block }}</section>

		{% include 'content_blocks/post_listings_simple_filter.twig' with 
			{
				title: 'Related Content',
				show_more_block: 'true',
				posts: [
					{
						link: 'http://yali.rebuild.local/wp/lorem-ipsum/',
						headline: 'Post 1 Lorem ipsum set abet ipsum', 
						excerpt: 'Lorem ipsum set abet ipsum Lorem ipsum set abet ipsum', 
						tags: [
							{ 'term_id': '4', name: 'tag 1', slug: 'tag-1' },
							{ 'term_id': '5', name: 'tag 2', slug: 'lorem' },
							{ 'term_id': '6', name: 'tag 3', slug: 'ipsum' }
						],
						featured_img_url: 'data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='
					},
					{
						link: 'http://yali.rebuild.local/wp/lorem-ipsum/',
						headline: 'Post 2 Lorem ipsum set abet ipsum', 
						excerpt: 'Lorem ipsum set abet ipsum Lorem ipsum set abet ipsum', 
						tags: [
							{ 'term_id': '4', name: 'tag 1', slug: 'tag-1' },
							{ 'term_id': '5', name: 'tag 2', slug: 'lorem' },
							{ 'term_id': '6', name: 'tag 3', slug: 'ipsum' }
						],
						featured_img_url: 'data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='
					},
					{
						link: 'http://yali.rebuild.local/wp/lorem-ipsum/',
						headline: 'Post 3 Lorem ipsum set abet ipsum', 
						excerpt: 'Lorem ipsum set abet ipsum Lorem ipsum set abet ipsum', 
						tags: [
							{ 'term_id': '4', name: 'tag 1', slug: 'tag-1' },
							{ 'term_id': '5', name: 'tag 2', slug: 'lorem' },
							{ 'term_id': '6', name: 'tag 3', slug: 'ipsum' }
						],
						featured_img_url: 'data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='
					},
					{
						link: 'http://yali.rebuild.local/wp/lorem-ipsum/',
						headline: 'Post 4 Lorem ipsum set abet ipsum', 
						excerpt: 'Lorem ipsum set abet ipsum Lorem ipsum set abet ipsum', 
						tags: [
							{ 'term_id': '4', name: 'tag 1', slug: 'tag-1' },
							{ 'term_id': '5', name: 'tag 2', slug: 'lorem' },
							{ 'term_id': '6', name: 'tag 3', slug: 'ipsum' }
						],
						featured_img_url: 'data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='
					},
					{
						link: 'http://yali.rebuild.local/wp/lorem-ipsum/',
						headline: 'Post 5 Lorem ipsum set abet ipsum', 
						excerpt: 'Lorem ipsum set abet ipsum Lorem ipsum set abet ipsum', 
						tags: [
							{ 'term_id': '4', name: 'tag 1', slug: 'tag-1' },
							{ 'term_id': '5', name: 'tag 2', slug: 'lorem' },
							{ 'term_id': '6', name: 'tag 3', slug: 'ipsum' }
						],
						featured_img_url: 'data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='
					},
					{
						link: 'http://yali.rebuild.local/wp/lorem-ipsum/',
						headline: 'Post 6 Lorem ipsum set abet ipsum', 
						excerpt: 'Lorem ipsum set abet ipsum Lorem ipsum set abet ipsum', 
						tags: [
							{ 'term_id': '4', name: 'tag 1', slug: 'tag-1' },
							{ 'term_id': '5', name: 'tag 2', slug: 'lorem' },
							{ 'term_id': '6', name: 'tag 3', slug: 'ipsum' }
						],
						featured_img_url: 'data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='
					},
					{
						link: 'http://yali.rebuild.local/wp/lorem-ipsum/',
						headline: 'Post 7 Lorem ipsum set abet ipsum', 
						excerpt: 'Lorem ipsum set abet ipsum Lorem ipsum set abet ipsum', 
						tags: [
							{ 'term_id': '4', name: 'tag 1', slug: 'tag-1' },
							{ 'term_id': '5', name: 'tag 2', slug: 'lorem' },
							{ 'term_id': '6', name: 'tag 3', slug: 'ipsum' }
						],
						featured_img_url: 'data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='
					},
					{
						link: 'http://yali.rebuild.local/wp/lorem-ipsum/',
						headline: 'Post 8 Lorem ipsum set abet ipsum', 
						excerpt: 'Lorem ipsum set abet ipsum Lorem ipsum set abet ipsum', 
						tags: [
							{ 'term_id': '4', name: 'tag 1', slug: 'tag-1' },
							{ 'term_id': '5', name: 'tag 2', slug: 'lorem' },
							{ 'term_id': '6', name: 'tag 3', slug: 'ipsum' }
						],
						featured_img_url: 'data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='
					}
				]
			}
		%}
			
	</div>
</section>

{% endblock %}