{% extends 'base.twig' %}

{% block content %}
<section class="hero">
    <img class="ui fluid image" src="{{ header_url }}" srcset="{{ srcset }}" sizes="{{ size }}" alt="{{ header_url }}">
</section>
<section class="ui container">
	<h1 class='title-overlay_title'>{{ page_data.title.rendered }}</h1>
	<div class='inner-container campaign'>		      
		<section class='page-content'>
			{{ page_data.content.rendered }}       
			<div class='toolkit'>
				<h3><a href='#' target='_blank' class='toolkit_file cta_link'>Leadership Planning Toolkit</a></h3>
				<span class='caption'>(PDF 305KB)</span>
			</div>
			<h3 class='resources_alert'>*Visit this page again starting October 16th for weekly resources tailored to Advancing Your Career!</h3>			
		</section>
	</div>
</section>
{% endblock %}