{% extends 'base.twig' %}

{% block content %}
<section class="hero">
    <img class="ui fluid image" src="{{ header_url }}" srcset="{{ srcset }}" sizes="{{ size }}" alt="{{ header_url }}">
</section>
<section class="ui container">
	<h1 class='title-overlay_title'>{{ page_data.title.rendered }}</h1>
	<div class='inner-container campaign'>		      
		<section class='page-content'>
			{{ page_data.content.rendered }}
		</section>
	</div>
</section>
{% endblock %}