{% extends 'base.twig' %}

{% block content %}

<section class="hero">
    <img class="ui fluid image" src="{{ header_url }}" srcset="{{ srcset }}" sizes="{{ size }}" alt="{{ header_url }}">
</section>

<section class="ui container title-overlay higher">

	<h2 class='title-overlay_title'>{{ page_data.title.rendered }}</h2>
	<div class='inner-container courses'>
		<section class='courses_intro'>
			{{ page_data.content.rendered }}
		</section>

		{% include '/content_blocks/all_posts_filter/all_posts_filter.twig' with
			{
				title: 'Featured Courses',
				filters: ['subject', 'language', 'sort'],
				content_types: ['Article', 'Course', 'Podcast', 'Video'],
				posts: [
					{
						link: 'http://yali.rebuild.local/wp/lorem-ipsum/',
						headline: 'Post 1 Lorem ipsum set abet ipsum',
						excerpt: 'Lorem ipsum set abet ipsum Lorem ipsum set abet ipsum',
						tags: [
							{ 'term_id': '4', name: 'tag 1', slug: 'tag-1' },
							{ 'term_id': '5', name: 'tag 2', slug: 'lorem' },
							{ 'term_id': '6', name: 'tag 3', slug: 'ipsum' }
						],
						featured_img_url: 'data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==',
						course_cta: 'true'
					},
					{
						link: 'http://yali.rebuild.local/wp/lorem-ipsum/',
						headline: 'Post 2 Lorem ipsum set abet ipsum',
						excerpt: 'Lorem ipsum set abet ipsum Lorem ipsum set abet ipsum',
						tags: [
							{ 'term_id': '4', name: 'tag 1', slug: 'tag-1' },
							{ 'term_id': '5', name: 'tag 2', slug: 'lorem' },
							{ 'term_id': '6', name: 'tag 3', slug: 'ipsum' }
						],
						featured_img_url: 'data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==',
						course_cta: 'true'
					},
					{
						link: 'http://yali.rebuild.local/wp/lorem-ipsum/',
						headline: 'Post 3 Lorem ipsum set abet ipsum',
						excerpt: 'Lorem ipsum set abet ipsum Lorem ipsum set abet ipsum',
						tags: [
							{ 'term_id': '4', name: 'tag 1', slug: 'tag-1' },
							{ 'term_id': '5', name: 'tag 2', slug: 'lorem' },
							{ 'term_id': '6', name: 'tag 3', slug: 'ipsum' }
						],
						featured_img_url: 'data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==',
						course_cta: 'true'
					},
					{
						link: 'http://yali.rebuild.local/wp/lorem-ipsum/',
						headline: 'Post 4 Lorem ipsum set abet ipsum',
						excerpt: 'Lorem ipsum set abet ipsum Lorem ipsum set abet ipsum',
						tags: [
							{ 'term_id': '4', name: 'tag 1', slug: 'tag-1' },
							{ 'term_id': '5', name: 'tag 2', slug: 'lorem' },
							{ 'term_id': '6', name: 'tag 3', slug: 'ipsum' }
						],
						featured_img_url: 'data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==',
						course_cta: 'true'
					},
					{
						link: 'http://yali.rebuild.local/wp/lorem-ipsum/',
						headline: 'Post 5 Lorem ipsum set abet ipsum',
						excerpt: 'Lorem ipsum set abet ipsum Lorem ipsum set abet ipsum',
						tags: [
							{ 'term_id': '4', name: 'tag 1', slug: 'tag-1' },
							{ 'term_id': '5', name: 'tag 2', slug: 'lorem' },
							{ 'term_id': '6', name: 'tag 3', slug: 'ipsum' }
						],
						featured_img_url: 'data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==',
						course_cta: 'true'
					},
					{
						link: 'http://yali.rebuild.local/wp/lorem-ipsum/',
						headline: 'Post 6 Lorem ipsum set abet ipsum',
						excerpt: 'Lorem ipsum set abet ipsum Lorem ipsum set abet ipsum',
						tags: [
							{ 'term_id': '4', name: 'tag 1', slug: 'tag-1' },
							{ 'term_id': '5', name: 'tag 2', slug: 'lorem' },
							{ 'term_id': '6', name: 'tag 3', slug: 'ipsum' }
						],
						featured_img_url: 'data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==',
						course_cta: 'true'
					},
					{
						link: 'http://yali.rebuild.local/wp/lorem-ipsum/',
						headline: 'Post 7 Lorem ipsum set abet ipsum',
						excerpt: 'Lorem ipsum set abet ipsum Lorem ipsum set abet ipsum',
						tags: [
							{ 'term_id': '4', name: 'tag 1', slug: 'tag-1' },
							{ 'term_id': '5', name: 'tag 2', slug: 'lorem' },
							{ 'term_id': '6', name: 'tag 3', slug: 'ipsum' }
						],
						featured_img_url: 'data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==',
						course_cta: 'true'
					},
					{
						link: 'http://yali.rebuild.local/wp/lorem-ipsum/',
						headline: 'Post 8 Lorem ipsum set abet ipsum',
						excerpt: 'Lorem ipsum set abet ipsum Lorem ipsum set abet ipsum',
						tags: [
							{ 'term_id': '4', name: 'tag 1', slug: 'tag-1' },
							{ 'term_id': '5', name: 'tag 2', slug: 'lorem' },
							{ 'term_id': '6', name: 'tag 3', slug: 'ipsum' }
						],
						featured_img_url: 'data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==',
						course_cta: 'true'
					},
					{
						link: 'http://yali.rebuild.local/wp/lorem-ipsum/',
						headline: 'Post 9 Lorem ipsum set abet ipsum',
						excerpt: 'Lorem ipsum set abet ipsum Lorem ipsum set abet ipsum',
						tags: [
							{ 'term_id': '4', name: 'tag 1', slug: 'tag-1' },
							{ 'term_id': '5', name: 'tag 2', slug: 'lorem' },
							{ 'term_id': '6', name: 'tag 3', slug: 'ipsum' }
						],
						featured_img_url: 'data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==',
						course_cta: 'true'
					},
					{
						link: 'http://yali.rebuild.local/wp/lorem-ipsum/',
						headline: 'Post 10 Lorem ipsum set abet ipsum',
						excerpt: 'Lorem ipsum set abet ipsum Lorem ipsum set abet ipsum',
						tags: [
							{ 'term_id': '4', name: 'tag 1', slug: 'tag-1' },
							{ 'term_id': '5', name: 'tag 2', slug: 'lorem' },
							{ 'term_id': '6', name: 'tag 3', slug: 'ipsum' }
						],
						featured_img_url: 'data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==',
						course_cta: 'true'
					},
					{
						link: 'http://yali.rebuild.local/wp/lorem-ipsum/',
						headline: 'Post 11 Lorem ipsum set abet ipsum',
						excerpt: 'Lorem ipsum set abet ipsum Lorem ipsum set abet ipsum',
						tags: [
							{ 'term_id': '4', name: 'tag 1', slug: 'tag-1' },
							{ 'term_id': '5', name: 'tag 2', slug: 'lorem' },
							{ 'term_id': '6', name: 'tag 3', slug: 'ipsum' }
						],
						featured_img_url: 'data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==',
						course_cta: 'true'
					},
					{
						link: 'http://yali.rebuild.local/wp/lorem-ipsum/',
						headline: 'Post 12 Lorem ipsum set abet ipsum',
						excerpt: 'Lorem ipsum set abet ipsum Lorem ipsum set abet ipsum',
						tags: [
							{ 'term_id': '4', name: 'tag 1', slug: 'tag-1' },
							{ 'term_id': '5', name: 'tag 2', slug: 'lorem' },
							{ 'term_id': '6', name: 'tag 3', slug: 'ipsum' }
						],
						featured_img_url: 'data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==',
						course_cta: 'true'
					},
					{
						link: 'http://yali.rebuild.local/wp/lorem-ipsum/',
						headline: 'Post 13 Lorem ipsum set abet ipsum',
						excerpt: 'Lorem ipsum set abet ipsum Lorem ipsum set abet ipsum',
						tags: [
							{ 'term_id': '4', name: 'tag 1', slug: 'tag-1' },
							{ 'term_id': '5', name: 'tag 2', slug: 'lorem' },
							{ 'term_id': '6', name: 'tag 3', slug: 'ipsum' }
						],
						featured_img_url: 'data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==',
						course_cta: 'true'
					},
					{
						link: 'http://yali.rebuild.local/wp/lorem-ipsum/',
						headline: 'Post 14 Lorem ipsum set abet ipsum',
						excerpt: 'Lorem ipsum set abet ipsum Lorem ipsum set abet ipsum',
						tags: [
							{ 'term_id': '4', name: 'tag 1', slug: 'tag-1' },
							{ 'term_id': '5', name: 'tag 2', slug: 'lorem' },
							{ 'term_id': '6', name: 'tag 3', slug: 'ipsum' }
						],
						featured_img_url: 'data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==',
						course_cta: 'true'
					}
				]
			}
		%}

		<section class='learning_faqs'>{{ courses_faq }}</section>

	</div>	
</section>


{% endblock %}
