{% extends 'base.twig' %}

{% block content %}
<section class='hero hero--bg_img' data-responsive-background-image>
	<img src="{{ header_url }}"
      sizes="{{ sizes }}"
      srcset="{{ srcset }}">
	<div class='hero-inner bottom_padd bottom_padd--thin'>
	    <div class='hero-content ui container'>
	        <h1 class="hero-headline">{{ page_data.title.rendered }}</h1>
	        {{ page_data.content.rendered }}
	    </div>
    </div>
</section>
<section class='ui container'>
	<div class='inner-container'>

		{{ action_postlist }}
	  {{ action_course }}
	  {{ action_fellowship }}

		<h2>Get Started</h2>
		<div class='ui stackable grid campaigns_list'>
			{% for campaign in campaign_pages %}
			<h3>Get engaged with more YALI Network Initiatives:</h3>
			<div class='row list_item'>
				<div class='six wide column'>
					<a href='{{ campaign.post_name }}'>
					<span
						class='list_item_img'
						style='background-image: url("{{ campaign.featured_image_src }}"); background-size: cover;'>
					</span>
					</a>
				</div>
				<div class='nine wide column'>
					<div class='list_item_content'>
						<h3>
							<a href='{{ campaign.post_name }}' class='list_item_link'>{{ campaign.post_title }}</a>
						</h3>
						<div class='list_item_excerpt'>{{ campaign.post_excerpt }}</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>
<section class='social'>
	{{ social_block }}
</section>
{% endblock %}
