{% extends 'base.twig' %}

{% block content %}
<section class="hero">
    <img class="ui fluid image" src="{{ header_url }}" srcset="{{ srcset }}" sizes="{{ size }}" alt="{{ header_url }}">
</section>
<section class="ui container">
	<h2 class='title-overlay_title'>{{ page_data.title.rendered }}</h2>
	<div class='inner-container campaign'>
		<section class='page-content'>
			{{ page_data.content.rendered }}
		</section>

		<section class='section org_event'>
			<h3>Share your knowledge</h3>
			<p class='org_event_text'>
				Organize a #YALILearns session using <a href='/course-714'><em>Understanding Elections and Civic Responsibility</em></a>
				to raise awareness and educate your community about the importance of civic participation. Use the facilitation guide to get started.
			</p>
			<div class='ui stackable grid org_event_items'>
				{% for file in orgevent_data %}
				<div class='eight wide column org_event_item'>
					<a href='{{ file.file_url }}' target='target_blank' class='cta_link'>{{ file.file_name }}</a>
				</div>
				{% endfor %}
			</div>
			<br>
			<p>Already held a YALILearns session? Tell us about it using this report form: <a href='/eventreport/'>YALILearns Report</a></p>
		</section>

		<!-- <section class='section alumni'>
			<h3>Hear from alumni</h3>
			<p>Watch what 2016 Mandela Washington Fellows have to say about (topic) for (campaign).</p>

			<p class='cta_link lang-btn' data-lang='french'>View French</p>
			<p class='cta_link lang-btn hide' data-lang='english'>View English</p>

			<div class='ui stackable grid alumni_vids alumni_vids--english'>
				{% for vid in alumni_vids %}
				<div class='eight wide column alumni_vid'>
					{{ vid.english }}
				</div>
				{% endfor %}
			</div>

			<div class='ui stackable grid alumni_vids alumni_vids--french hide'>
				{% for vid in alumni_vids %}
				<div class='eight wide column alumni_vid'>
					{{ vid.french }}
				</div>
				{% endfor %}
			</div>
		</section> -->

		<!-- {% include 'content_blocks/honeycomb.twig' with
			{
				headline: 'More ways to be involved',
				content: campaign_pages,
				bg_color: 'lightblue'
			}
		%} -->

		{{ campaign_list_grid }}

	</div>
</section>
{% endblock %}
