{% extends 'base.twig' %}

{% block content %}
<section class="hero">
    <img class="ui fluid image" src="{{ header_url }}" srcset="{{ srcset }}" sizes="{{ size }}" alt="{{ header_url }}">
</section>
<section class="ui container">
	<h2 class='title-overlay_title'>{{ page_data.title.rendered }}</h2>
	<div class='inner-container campaign'>
		<section class='page-content'>
			{{ page_data.content.rendered }}
		</section>

		<section class='section org_event'>
			<h3>Organize an event</h3>
			<p class='org_event_text'>Organize a <a href='#'>#YALILearns</a> session and facilitate <a href='https://yalibeta.edit.america.gov/course-157'><em>Understanding Renewable Energy</em></a>
				 or <a href=''><em>Understanding Climate Change</em></a> to share your knowledge with your community. Plan
				 your event using our facilitation guides below.</p>
			<div class='ui stackable grid org_event_items'>
				{% for file in orgevent_data %}
				<div class='eight wide column org_event_item'>
					<a href='{{ file.file_url }}' target='target_blank' class='cta_link'>{{ file.file_name }}</a>
				</div>
				{% endfor %}
			</div>
			<br>
			<p>Already held a #YALILearns session? Tell us about it using this report form: <a href='https://yalibeta.edit.america.gov/in-person/yali-learns/eventreport/'>YALILearns Report</a></p>
		</section>

		{% include 'content_blocks/honeycomb.twig' with
			{
				headline: 'More ways to be involved',
				content: campaign_pages,
				bg_color: 'lightblue'
			}
		%}

	</div>
</section>
{% endblock %}
