{% extends 'base.twig' %}

{% block content %}
<section class="hero image_6-1" data-responsive-background-image>
     <img src="{{ header_url }}"
      sizes="{{ sizes }}"
      srcset="{{ srcset }}">
		<div class="hero-inner bottom_padd bottom_padd--thin">
    	<div class="hero-content ui container">
    		<h1 class="hero-h1">{{ page_data.title.rendered }}...</h1>    		
    	</div>
    </div>
</section>

<section class="ui container">	
	<div class='inner-container'>
		<section class='section yali-is_intro'>
			{{ page_data.content.rendered }}
		</section>

    <section class='section explore'>
      <div class='explore_links'>
        <h2>Explore YALI</h2>
        <a href='/mwf' class='cta_link'><span class='text_break'>Mandela Washington</span> Fellowship</a>
        <a href='/rlc' class='cta_link'><span class='text_break'>Regional Leadership</span> Centers</a>
        <a href='/network' class='cta_link'><span class='text_break'>YALI</span> Network</a>        
      </div>
    </section>

    {{ social_block }}

	</div>
</section>

{% endblock %}