{% extends 'base.twig' %}

{% block content %}
<section class="hero">
    <img class="ui fluid image" src="{{ header_url }}" srcset="{{ srcset }}" sizes="{{ size }}" alt="{{ header_url }}">
</section>
<section class="ui container">
	<h2 class='title-overlay_title'>{{ page_data.title.rendered }}</h2>
	<div class='inner-container campaign'>		      
		<section class='page-content'>
			{{ page_data.content.rendered }}          
		</section>

		{% include 'content_blocks/post-listings.twig' with 
			{
				headline: 'Read about elections and civic responsibility',						
				posts: [
					{
						title: 'When Enough is Enough: Urban Guerilla Poetry',
						excerpt: "'Abdoulaye, faut pas forcer!' Loud but nonviolent, Y'en a Marre redefined political activism in Senegal...",
						img_src: 'data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==',
						post_url: '#',
						tags: []
					},
					{
						title: 'Election Time: Lessons from Young Leaders',
						excerpt: 'The election was going to be too close to call. The mood at campaign headquarters - "headquarteres"...',
						img_src: 'data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==',
						post_url: '#',
						tags: []				
					},
					{
						title: 'Want to energize young voters? Look beyond elections',
						excerpt: "In the run-up to Senegal's 2012 elections, Sobel Aziz Ngom and his friends mounted a voter education...",
						img_src: 'data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==',
						post_url: '#',
						tags: []
					}
				]
			}
		%}

		{% include 'content_blocks/post-single.twig' with 
			{
				title: 'Take the course',
				img_src: 'data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==',
				headline: 'Understanding Elections and Civic Responsibility',
				excerpt: 'This three-part course seeks to educate and inform on the role of citizens in the electoral process, and provide guidance on how to exercise civic responsibility and hold candidates and officials accountable - before, during, and after elections.',
				course: 'true'
			} 
		%}

		<section class='section promote'>
			<h3>Promote #YALIStands4All</h3>
			<p>
				Show your community that #YALIVotes to bring about a more prosperous, democratic and peaceful Africa.
				Tweet or share on Facebook what you believe is important about Africa's upcoming elections with the 
				hashtag #YALIVotes.
			</p>	
			<div class='ui stackable grid promote_item'>				
				<div class='eight wide column promote_item'>
					<a href='#' target='_blank' class='promote_item_share promote_item_share--twitter'>						
						<span class='link link--twitter'></span>
						<span class='link--text'>Share on Twitter</span>
					</a>					
				</div>
			</div>
		</section>
		
		<section class='section alumni'>
			<h3>Hear from alumni</h3>
			<p>Watch what 2016 Mandela Washington Fellows have to say about (topic) for (campaign).</p>

			<p class='cta_link lang-btn' data-lang='french'>View French</p>
			<p class='cta_link lang-btn hide' data-lang='english'>View English</p>

			<div class='ui stackable grid alumni_vids alumni_vids--english'>
				{% for vid in alumni_vids %}
				<div class='eight wide column alumni_vid'>
					{{ vid.english }}
				</div>
				{% endfor %}
			</div>

			<div class='ui stackable grid alumni_vids alumni_vids--french hide'>
				{% for vid in alumni_vids %}
				<div class='eight wide column alumni_vid'>
					{{ vid.french }}
				</div>
				{% endfor %}
			</div>
		</section>
	
		{{ social_block }}

		{% include 'content_blocks/post-grid.twig' with 
			{
				headline: 'Suggested Content',
				posts: [
					{
						link: 'http://yali.rebuild.local/wp/lorem-ipsum/',
						title: 'Post 1 Lorem ipsum set abet ipsum', 
						excerpt: 'Lorem ipsum set abet ipsum Lorem ipsum set abet ipsum', 
						tags: [
							{ 'term_id': '4', name: 'tag 1', slug: 'tag-1' },
							{ 'term_id': '5', name: 'tag 2', slug: 'lorem' },
							{ 'term_id': '6', name: 'tag 3', slug: 'ipsum' }
						],
						featured_img_url: 'data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='
					},
					{
						link: 'http://yali.rebuild.local/wp/lorem-ipsum/',
						title: 'Post 2 Lorem ipsum set abet ipsum', 
						excerpt: 'Lorem ipsum set abet ipsum Lorem ipsum set abet ipsum', 
						tags: [
							{ 'term_id': '4', name: 'tag 1', slug: 'tag-1' },
							{ 'term_id': '5', name: 'tag 2', slug: 'lorem' },
							{ 'term_id': '6', name: 'tag 3', slug: 'ipsum' }
						],
						featured_img_url: 'data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='
					},
					{
						link: 'http://yali.rebuild.local/wp/lorem-ipsum/',
						title: 'Post 3 Lorem ipsum set abet ipsum', 
						excerpt: 'Lorem ipsum set abet ipsum Lorem ipsum set abet ipsum', 
						tags: [
							{ 'term_id': '4', name: 'tag 1', slug: 'tag-1' },
							{ 'term_id': '5', name: 'tag 2', slug: 'lorem' },
							{ 'term_id': '6', name: 'tag 3', slug: 'ipsum' }
						],
						featured_img_url: 'data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==',
						featured_post: 'true'
					}
				]
			} 
		%}

		{% include 'content_blocks/honeycomb.twig' with 
			{ 				
				headline: 'Stay Involved',
				subheadline: 'Check out other YALI Network Campaigns',	
				content: campaigns,
				bg_color: 'lightblue'
			} 
		%}

	</div>
</section>
{% endblock %}