{% extends 'base.twig' %}

{% block content %}
<section class="hero">
    <img class="ui fluid image" src="{{ header_url }}" srcset="{{ srcset }}" sizes="{{ sizes }}" alt="{{ header_url }}">
</section>

<section class="ui container">
	<h2 class='title-overlay_title'>{{ page_data.title.rendered }}</h2>
	<div class='inner-container'>		      
		<div class='page-content'>
			<section class='section rlc_intro'>{{ page_data.content.rendered }}</section>			
			<section class='ui stackable two column grid section rlc_centers'>
				<div class='row rlc_centers_row'>
					<div class='column rlc_centers_center'>
						<h4 class='rlc_centers_center_headline'>RLC East Africa</h4>
						<div class='rlc_centers_center_content'>
							<p><span class='text_bold'>Location:</span> Kenyatta University, Nairobi, Kenya</p>
							<p><span class='text_bold'>Countries included:</span> Burundi, Central African Republic, Republic of Congo, Democratic Republic of the Congo, Djibouti, Eritrea, Ethiopia, Kenya, Rwanda, Somalia, South Sudan, Sudan, Tanzania, Uganda</p>
							<p><span class='text_bold'>Language of instruction:</span> English</p>
						</div>					
						<p class='text_bold'>
							<a 
								href='https://www.yalieastafrica.org/' 
								target='_blank'
								class='rlc_centers_center_link'>
								More about this RLC <i class='angle right icon'></i>						
							</a>
						</p>
						<p class='rlc_centers_center_cta'><a href='#' class='cta_link'>Apply Now!</a></p>
					</div>
					<div class='column rlc_centers_center'>
						<h4 class='rlc_centers_center_headline'>RLC Southern Africa</h4>
						<div class='rlc_centers_center_content'>
							<p><span class='text_bold'>Location:</span> University of South Africa School of Business Leadership (UNISA SBL), near Pretoria, South Africa</p>
							<p><span class='text_bold'>Countries included:</span> Angola, Botswana, Comoros, Lesotho, Madagascar, Malawi, Mauritius, Mozambique, Namibia, Seychelles, South Africa, Swaziland, Zambia, Zimbabwe</p>
							<p><span class='text_bold'>Language of instruction:</span> English</p>
						</div>
						<p class='text_bold'>					
							<a 
								href='https://yalisouthernafrica.melimu.com/' 
								target='_blank'
								class='rlc_centers_center_link'>
								More about this RLC <i class='angle right icon'></i>						
							</a>
						</p>
					</div>
				</div><!-- row -->
				<div class='row rlc_centers_row'>
					<div class='column rlc_centers_center'>
						<h4 class='rlc_centers_center_headline w_sub'>RLC Southern Africa</h4>
						<p class='text_bold rlc_centers_center_subheadline'>&mdash; Maputo Satellite Campus</p>
						<div class='rlc_centers_center_content'>
							<p><span class='text_bold'>Location:</span> Universidade Eduardo Mondlane, Maputo, Mozambique</p>
							<p><span class='text_bold'>Countries included:</span> Angola, Mozambique</p>
							<p><span class='text_bold'>Language of instruction:</span> Portuguese</p>
						</div>
						<p class='text_bold'>
							<a 
								href='https://yalisouthernafrica.melimu.com/' 
								target='_blank'
								class='rlc_centers_center_link'>
								More about this RLC <i class='angle right icon'></i>						
							</a>
						</p>
					</div>
					<div class='column rlc_centers_center'>
						<h4 class='rlc_centers_center_headline'>RLC West Africa Accra</h4>
						<div class='rlc_centers_center_content'>
							<p><span class='text_bold'>Location:</span> Ghana Institute of Management and Public Administration (GIMPA), Accra, Ghana</p>
							<p><span class='text_bold'>Countries included:</span> Burkina Faso, Cameroon, Côte d’Ivoire, Gambia, Ghana, Liberia, Nigeria, Sierra Leone, Togo</p>
							<p><span class='text_bold'>Language of instruction:</span> English</p>
						</div>
						<p class='text_bold'>
							<a 
								href='http://www.yaliwestafrica.org/' 
								target='_blank'
								class='rlc_centers_center_link'>
								More about this RLC <i class='angle right icon'></i>						
							</a>
						</p>
					</div>
				</div><!-- row -->
				<div class='row rlc_centers_row'>
					<div class='column rlc_centers_center'>
						<h4 class='rlc_centers_center_headline w_sub'>RLC West Africa Accra</h4>
						<p class='text_bold rlc_centers_center_subheadline'>&mdash; Lagos Satellite Campus</p>
						<div class='rlc_centers_center_content'>
							<p><span class='text_bold'>Location:</span> Administrative Staff College of Nigeria (ASCON), near Lagos, Nigeria</p>
							<p><span class='text_bold'>Countries included:</span> Burkina Faso, Cameroon, Côte d’Ivoire, Gambia, Ghana, Liberia, Nigeria, Sierra Leone, Togo</p>
							<p><span class='text_bold'>Language of instruction:</span> English</p>
						</div>
						<p class='text_bold'>
							<a 
								href='http://www.yaliwestafrica.org/' 
								target='_blank'
								class='rlc_centers_center_link'>
								More about this RLC <i class='angle right icon'></i>						
							</a>
						</p>
					</div>
					<div class='column rlc_centers_center'>
						<h4 class='rlc_centers_center_headline'>RLC West Africa Dakar</h4>
						<div class='rlc_centers_center_content'>
							<p><span class='text_bold'>Location:</span> Centre Africain d’Etudes Supérieures en Gestion (CESAG), Dakar, Senegal</p>
							<p><span class='text_bold'>Countries included:</span> Benin, Burkina Faso, Cameroon, Cape Verde, Chad, Côte d’Ivoire, Equatorial Guinea, Gabon, Guinea, Guinea Bissau, Mali, Mauritania, Niger, Sao Tome & Principe, Senegal, Togo</p>
							<p><span class='text_bold'>Language of instruction:</span> French</p>
						</div>
						<p class='text_bold'>
							<a 
								href='http://www.yaliafriquedelouest.org/' 
								target='_blank'
								class='rlc_centers_center_link'>
								More about this RLC <i class='angle right icon'></i>						
							</a>
						</p>
					</div>
				</div><!-- row -->
			</section>
			<section class='section rlc_map'>
				<div style='width: 100%; height: 300px; border: 1px solid #ccc; text-align: center;'>
					<h3>MAP</h3>
				</div>
			</section>
			<section class='section rlc_partner'>
				<h4>Partner with USAID to support the Regional Leadership Centers</h4>
				<p>Each Regional Leadership Center is run as a public-private partnership, capitalizing on the dynamism and industry expertise of the private sector, the knowledge of African and American institutions, and the programmatic and educational resources of the U.S. Government.</p>
				<p>By collaborating with USAID on YALI, the private sector has an unprecedented opportunity to build relationships with a network of highly motivated, talented individuals emerging as leaders in business, government, and civil society across Africa. Through partnership, companies are uniquely placed to influence and impact these young leaders by sharing industry knowledge and insights.</p>
				<p class='text_bold'>USAID fosters a wide variety of partnerships to support the Centers. Opportunities include:</p>
				<ul>
					<li>Contribute to Center Facilities and Infrastructure: Provide access to financial resources, technology, communications, and capital assets to support Center development and expansion to reach young leaders across all of sub-Saharan Africa.</li>
					<li>Provide Leadership Development Resources & Experiences: Contributions of existing curricula on leadership and entrepreneurship topics that can be tailored to suit the needs of African youth are welcome. Additionally, companies can lend expert trainers and mentors or host Center participants for site visits or internships to support their professional development.</li>
					<li>Offer In-Kind Contributions to Support Access to Training: In-kind contributions such as hotel rooms, flights, and local transportation are welcome to ensure young leaders from all countries across sub-Saharan Africa have access to Center programs.</li>
					<li>Propose a Partnership: Please contact us to propose other areas for partnership at africanleaders @ usaid.gov.</li>
				</ul>			
			</section>
			
			<!-- RLC Participants Section -->
			{% include 'content_blocks/post-listings.twig' with 
				{
					headline: 'Success Stories from RLC Participants',
					cta_txt: 'Hear from more Regional Leadership Center Participants',
					cta_url: '#',
					background_color: '#192856',
					cta_background_color: '#F2D400',		
					posts: [
						{
							title: 'RLC Participant\'s Success Story',
							excerpt: 'Lorem ipsum dolor sit amet, ea habeo error ubique vim, ex veniam docendi...',
							img_src: 'data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==',
							post_url: '#',
							tags: []
						},
						{
							title: 'RLC Participant\'s Success Story',
							excerpt: 'Lorem ipsum dolor sit amet, ea habeo error ubique vim, ex veniam docendi...',
							img_src: 'data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==',
							post_url: '#',
							tags: []				
						},
						{
							title: 'RLC Participant\'s Success Story',
							excerpt: 'Lorem ipsum dolor sit amet, ea habeo error ubique vim, ex veniam docendi...',
							img_src: 'data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==',
							post_url: '#',
							tags: []
						}
					]
				}
			%}

			<!-- Related Content Section -->
			{% include 'content_blocks/post-grid.twig' with 
				{
					headline: 'Related Content',
					full_width: '',
					background_color: '',
					posts: [
						{
							link: 'http://yali.rebuild.local/wp/lorem-ipsum/',
							title: 'Post 1 Lorem ipsum set abet ipsum', 
							excerpt: 'Lorem ipsum set abet ipsum Lorem ipsum set abet ipsum', 
							tags: [
								{ 'term_id': '4', name: 'tag 1', slug: 'tag-1' },
								{ 'term_id': '5', name: 'tag 2', slug: 'lorem' },
								{ 'term_id': '6', name: 'tag 3', slug: 'ipsum' }
							],
							featured_img_url: 'data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='
						},
						{
							link: 'http://yali.rebuild.local/wp/lorem-ipsum/',
							title: 'Post 2 Lorem ipsum set abet ipsum', 
							excerpt: 'Lorem ipsum set abet ipsum Lorem ipsum set abet ipsum', 
							tags: [
								{ 'term_id': '4', name: 'tag 1', slug: 'tag-1' },
								{ 'term_id': '5', name: 'tag 2', slug: 'lorem' },
								{ 'term_id': '6', name: 'tag 3', slug: 'ipsum' }
							],
							featured_img_url: 'data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='
						},
						{
							link: 'http://yali.rebuild.local/wp/lorem-ipsum/',
							title: 'Post 3 Lorem ipsum set abet ipsum', 
							excerpt: 'Lorem ipsum set abet ipsum Lorem ipsum set abet ipsum', 
							tags: [
								{ 'term_id': '4', name: 'tag 1', slug: 'tag-1' },
								{ 'term_id': '5', name: 'tag 2', slug: 'lorem' },
								{ 'term_id': '6', name: 'tag 3', slug: 'ipsum' }
							],
							featured_img_url: 'data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==',
							featured_post: 'true'
						}
					]
				} 
			%}
		</div>
	</div>
</section>

{% endblock %}