<article class='post-list-item'>
	{% if item.featured_img_url is not empty %}
	<div class='blog-list-thumb'>
		<img src="{{ item.featured_img_url }}">
	</div>
	{% endif %}

	<div class='blog-list-content'>
		<h3>
			<a href="{{ item.link }}">{{ item['title']['rendered'] }}</a>
		</h3>
		<div><p>{{ item['excerpt']['rendered'] | raw }}</p></div>

		{% for tag in item.post_tag_names %}
			<span class='tag-name'>{{ tag.name }}</span>
		{% endfor %}
	</div>
</article>