<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<h1>PAGE.TWIG</h1>
		
	<section>
		<h2>{{ title }}</h2>		
		
		{% if blog_list is empty %}
		<div style="float: left; width: 30%;">{{ home_sidebar_right | raw }}</div>
		<div style="float: left; width: 65%;"">{{ restdata["content"]["rendered"] | raw }}</div>
		{% endif %}
			

		{% if blog_list is not empty %}
			<div style="width: 75%; margin:0 auto;">
			{% for item in blog_list %}
				<article>
					<h3>
						<a href="{{ item.link }}">{{ item['title']['rendered'] }}</a>
					</h3>
					<div>{{ item['excerpt']['rendered'] | raw }}</div>
				</article>	
				<hr>
			{% endfor %}
			</div>
		{% endif %}		
				
	</section>
	

</body>
</html>