
{#<div class="ui vertical segment">
  <p>{{ title }}</p>
  <p>{{ title_alignment }}</p>
  <p>{{ excerpt }}</p>
  <p>{{ excerpt_alignment }}</p>
</div>#}

<div class="content-block full-width" style="background-color: {{ block_bg_color }}">
   <div class="ui container">
    <h2>{{ title }}</h2>
    <div style="text-align: {{ excerpt_alignment }}">{{ excerpt }}</div>
   </div>
</div>