<section 
	class="section cb_cta {{ width }} {{ text_align }} {% if background_img is not empty %}has_bg_img{% endif %}" 
	style="{% if background_color is not empty %}
		background-color: {{ background_color }};
		{% endif %} 

		{% if background_img is not empty %}
		background-image: url({{ background_img }});
		{% endif %};"
>
	<div class='inner-container'>
	    <h3 class="cb_cta_title">{{ title }}</h3>
	    {% if excerpt is not empty %}
	    <p class="cb_cta_excerpt">{{ excerpt }}</P>
	    {% endif %}

	    {% if cta_txt is not empty %}
	    <p class='cb_cta_link'>
	    	<a 
	    		href='{{ cta_url }}' 
	    		class='cta_link {% if cta_background_color == "#F2D400" %}text_dark{% endif %}'
	    		{% if cta_background_color is not empty %}
	    		style='background-color: {{ cta_background_color }};'
	    		{% endif %}
	    	>
	    		{{ cta_txt }}
	    	</a>
	    </p>
	    {% endif %}
    </div>
</section>