<section class='section cb-post_grid'>
	<h3 class='suggest_content_headline'>{{ headline }}</h3>
	<div class='grid_wrapper suggest_content'>		
		<div class='grid_row'>		
			<div class='grid_twothirds left'>
				{% for post in posts if post.featured_post == true %}								
				<div class='inner suggest_content_item suggest_content_item--feat_post' 
					 style='background-image: url("{{ post.featured_img_url }}"); 
					 		background-size: cover;'>					
					<a href='{{ post.link }}' class='suggest_content_item_title'>{{ post.title }}</a>
					<div class='suggest_content_item_tags'>
						{% for tag in post.tags  %}
						<a href="#" data-href='{{ tag.term_id }}'>{{ tag.name }}</a>	
						{% endfor %}							
					</div>
				</div>
				{% endfor %}	
			</div>							
			<div class='grid_onethird right'>
				{% for post in posts if post.featured_post != true %}				
				{% if loop.index < 3 %}
				<div class='inner suggest_content_item'>
					<a href='{{ post.link }}' class='suggest_content_item_title'>{{ post.title }}</a>
					<p class='suggest_content_item_excerpt'>{{ post.excerpt }}</p>
					<div class='suggest_content_item_tags'>						
						{% for tag in post.tags  %}
						<a href="#" data-href='{{ tag.term_id }}'>{{ tag.name }}</a>	
						{% endfor %}						
					</div>
				</div>
				{% endif %}
				{% endfor %}
			</div>
		</div><!--row-->
		<div class='grid_row'>
			{% for post in posts if post.featured_post != true %}
			{% if loop.index > 2 %}
			<div class='grid_onethird bottom'>
				<div class='inner suggest_content_item'>
					<a href='{{ post.link }}' class='suggest_content_item_title'>{{ post.title }}</a>
					<p class='suggest_content_item_excerpt'>{{ post.excerpt }}</p>
					<div class='suggest_content_item_tags'>
						{% for tag in post.tags  %}
						<a href="#" data-href='{{ tag.term_id }}'>{{ tag.name }}</a>	
						{% endfor %}
					</div>
				</div>
			</div>
			{% endif %}
			{% endfor %}
		</div>										
	</div><!--wrapper-->
</section>