{% if bg-color == "#25ACE2" %}
	{% set bgcolor = 'lightblue' %}
{% endif %}

<div class='full-width {{ bgcolor }} cb-social'>
	<div class='ui container'>
		<h2 class='cb-social_title'>{{ title }}</h2>
		<a class='cb-social_icon' href='{{ facebook }}' target='_blank'>
			<i class="facebook f icon"></i>
		</a>
		<a class='cb-social_icon' href='{{ linkedin }}' target='_blank'>
			<i class="linkedin icon"></i>
		</a>
		<a class='cb-social_icon' href='{{ twitter }}' target='_blank'>
			<i class="twitter icon"></i>
		</a>
	</div>
</div>
