<div id='{{ id }}' class='accordion_layout'>
	{% if headline %}
	<h3 style='text-align: {{ headline_alignment }}'>{{ headline }}</h3>
	{% endif %}
	
	<div class='ui styled accordion'>		
		{% for item in items_array %}
		<h4 class='title'>{{ item.item_title }}</h4>			
		<div class='content'>{{ item.item_content }}</div>
		{% endfor %}	
	</div>
</div>