<section class='section button-links_wrapper'>
	<div class='button-links'>
		{% if headline %}
		<h3>{{ headline }}</h3>		
		{% endif %}

		{% for link in links %}

			{% if link.yali_button_file is  not empty %}
			<a href='{{ link.yali_button_file }}' target='_blank' class='cta_link'>{{ link.yali_button_file_text }}</a>
			{% endif %}

			{% if link.yali_button_link.url is not empty %}
			<a  href='{{ link.yali_button_link.url }}'
				class='cta_link {% if link.yali_button_link_scroll == "on" %}scroll_link{% endif %}'>
				{{ link.yali_button_link.text }}
			</a>			
			
			{% endif %}

		{% endfor %}
	</div>
</section>