<section 
	class='action {{ full_screen_width == "yes" ? "full-width": "" }}' 
	style='background-color: {{ block_bg_color }};'>
	<div class='ui container'>
		<div class='inner-container'>
			<div class='ui stackable grid campaigns_list'>
				<!-- content block title -->
			    {% include 'partials/content_block_title.twig' %}	    

				{% for campaign in campaign_pages %}
				<div class='row list_item' style='color: {{ excerpt_color }};'>
					<div class='six wide column'>
						<a class='list_item_img_link' href='{{ campaign.post_name }}'>
							<img src='{{ campaign.campaign_img }}'>						
						</a>					
					</div>
					<div class='nine wide column'>
						<div class='list_item_content'>
							<h2>
								<a 
									href='{{ campaign.campaign_page_link }}' 
									class='list_item_link'
									style='color: {{ excerpt_color }};'>
									{{ campaign.post_title }}
								</a>
							</h2>
							<p class='list_item_excerpt'>{{ campaign.post_excerpt }}</p>
						</div>
					</div>
				</div>
			{% endfor %}
			</div>
		</div>
	</div>
</section>	