<section class='cb cb_cta {{ is_front_page() ? "cb_cta--home" : "" }} full-width' style="background-color: {{ block_bg_color }}" data-responsive-background-image>  
  <img src="{{ header_url }}"
      sizes="{{ sizes }}"
      srcset="{{ srcset }}">
	<div class='ui container'>    
    <div class='inner-container'>
  		<h2 class="{{ title_underline }}" style="text-align: {{ title_alignment }}; color: {{ title_color }}">{{ title }}</h2>
      <p class="cb_excerpt" style="text-align: {{ excerpt_alignment }}; color: {{ excerpt_color }}; font-weight: {{ excerpt_font_weight }}">{{ excerpt }} </p>
      <div class="cb_button" style="text-align: {{ btn_text_alignment }}">
        <a class="ui animated button" href="{{ btn_link }}" {{ btn_new_win }} style="background-color: {{ btn_bg_color }}" tabindex="0">
          <div class="visible content"  style="color: {{ btn_label_color }}"> {{ btn_label }}</div>
          <div class="hidden content">
            <i style="color:  {{ btn_label_color }}" class="right arrow icon"></i>
          </div>
        </a>
      </div>
    </div><!-- inner-container -->    
  </div>
</section>