{% set current_page = page_data.title.rendered %}

<section class='section full-width cb_honeycomb_wrapper {{ bg_color ? bg_color: "" }}'>
	<div class='ui container cb_honeycomb'>
		<div class='inner-container'>
			{% if headline is not empty %}
			<h1 class='cb_honeycomb_headline'>{{ headline }}</h1>
			{% endif %}
			{% if subheadline is not empty %}
			<h4 class='cb_honeycomb_subheadline'>{{ subheadline }}</h4>
			{% endif %}
			<div class='ui stackable grid cb_honeycomb_items'>
				{% for campaign in content %}
					{% if current_page != campaign.post_title %}
					<div class='five wide column cb_honeycomb_item'>
						<a href='{{ campaign.post_name }}'>							
							<img src='{{ campaign.campaigns_list_img }}'>					
						</a>
						<div class='cb_honeycomb_item_text'>
							<h3 class='cb_honeycomb_item_title'>
								<a href='{{ campaign.post_name }}'>{{ campaign.post_title }}</a>
							</h3>
							<p class='cb_honeycomb_item_excerpt'>{{ campaign.post_excerpt }}</p>
						</div>
					</div>
					{% endif %}
				{% endfor %}
			</div><!-- cb_homeycomb_items -->
		</div><!-- inner-container -->	
	</div><!-- ui.container -->
</section>