<section 
	class='section full-width post_listings {% if background_color == "#192856" %}text_light{% endif %}' 
	style='background-color: {{ background_color }}'>
	<div class='inner-container'>
		<h3 class='post_listings_headline'>{{ headline }}</h3>		
		<div class='ui stackable grid'>
			<div class='three column row post_listings_posts'>				
				{% for post in posts %}
				<div class='column post_listings_post'>						
					<img src='{{ post.img_src }}' class='post_listings_post_img'>
					<h5 class='post_listings_post_title'>
						<a href='{{ post.post_url }}'>{{ post.title }}</a>
					</h5>			
					<p class='post_listings_post_excerpt'>{{ post.excerpt }}</p>
					{% if post.tags is not empty %}
					<div class='post_listings_post_tags'>						
						{% for tag in post.tags  %}
						<a href='/tag/{{ tag.slug }}' data-href='{{ tag.term_id }}' class='post_listings_post_tag'>{{ tag.name }}</a>	
						{% endfor %}
					</div>
					{% endif %}
				</div>
				{% endfor %}
			</div><!-- row -->
		</div><!-- grid -->
		<p class='post_listings_cta'>		
			<a 
				href='{{ cta_url }}'
				class='cta_link {% if cta_background_color == "#F2D400" %}text_dark{% endif %}' 
				style='background-color: {{ cta_background_color }}'>
				{{ cta_txt }} <i class='angle right icon'></i>
			</a>
		</p>
	</div><!-- inner-container -->
</section>