
<section class='cb full-width' style="background-color: {{ block_bg_color }}">
	<div class='ui container'>
    <div class='inner-container'>
      {% if show_title == 'yes' %}  	
        {% if title_size == 'h3' %}	  
          <h3 class="{{ title_underline }}" style="text-align: {{ title_alignment }}">{{ title }}</h3>
        {% else %}
          <h2 class="{{ title_underline }}" style="text-align: {{ title_alignment }}">{{ title }}</h2>
        {% endif %}
      {% endif %}
      <p class="cb_excerpt" style="text-align: {{ excerpt_alignment }}">{{ excerpt }} </p>

      <!-- attach article feed module -->
      <div id='{{ selector }}' style="margin-top: 2em; text-align: {{ text_alignment }}"
        data-content-type='cdp-article-feed' data-id=''>LOADING Component...</div>

      {% if btn_label is not empty or btn_link is not empty %}
      <div class="cb_button" style="text-align: {{ btn_text_alignment }}">
        <a class="ui button" href="{{ btn_link }}" {{ btn_new_win }} style="background-color: {{ btn_bg_color }}" tabindex="0">
          <div style="color: {{ btn_label_color }}"> {{ btn_label }}</div>
        </a>
      </div>
      {% endif %}

    </div><!-- inner-container -->
  </div>
</section>


<script>

  // pass php config to js
  var cdpFeedConfig = cdpFeedConfig || {};  // do not put obj in global namespace
  cdpFeedConfig['{{ selector }}'] = {
    selectBy: '{{ cdp_post_select_by }}',
    indexes: '{{ cdp_indexes }}',
    ids:  {{ cdp_post_ids|json_encode() }},
    relatedPosts:  {{ cdp_posts_related|json_encode() }},
    relatedDisplay: '{{ cdp_posts_related_link_display }}',
    image:  {{ cdp_image|json_encode() }},
    numPosts: '{{ cdp_num_posts }}',
    categories: '{{ cdp_category }}',
    postMeta: {{ cdp_post_meta_fields_to_show|json_encode() }},
    uiLayout: '{{ cdp_ui_layout }}',
    uiDirection:  '{{ cdp_ui_direction }}',
  }

 </script>
