<div class='cb-social full-width' style="background-color: {{ block_bg_color }}">
	<div class='ui container'>
		<h2 class='cb-social_title'>{{ title }}</h2>
		{% if facebook is not empty %}
			<a class='cb-social_icon' href='{{ facebook }}' target='_blank'>
				<img src="{{ site.theme_url }}/assets/img/facebook.png">
			</a>
		{% endif %}
		{% if linkedin is not empty %}
			<a class='cb-social_icon' href='{{ linkedin }}' target='_blank'>
				<img src="{{ site.theme_url }}/assets/img/linkedin.png">
			</a>
		{% endif %}
		{% if twitter is not empty %}
			<a class='cb-social_icon' href='{{ twitter }}' target='_blank'>
				<img src="{{ site.theme_url }}/assets/img/twitter.png">
			</a>
		{% endif %}
	</div>
</div>
