<div class="custom_button" style="text-align: {{ btn_text_alignment }}">
  <a class="ui animated button" href="{{ btn_link }}" {{ btn_new_win }} style="background-color: {{ btn_bg_color }}" tabindex="0">
    <div class="visible content"  style="color: {{ btn_label_color }}"> {{ btn_label }}</div>
     <div class="hidden content">
      <i style="color:  {{ btn_label_color }}" class="right arrow icon"></i>
    </div>
  </a>
</div>
