<div class="custom_button" style="text-align: {{ btn_align }}">
  <a class="ui button" href="{{ btn_link }}" {{ btn_target }} style="background-color: {{ btn_color }}{{ btn_width }}" tabindex="0">
    <div style="color: {{ btn_label_color }}"> {{ btn_label }}</div>
  </a>
</div>
