<div class="footer_wrapper">
	
	<div class="footer_branding">
		<a href='{{ site.url }}'>
			<div class="img_placeholder">
				<img src="{{ site.theme_url }}/assets/img/yali_logo_mark.svg">
			</div>			
			<span class="footer_branding_title">Young African Leaders Initiative</span>
		</a>
	</div>
	
	<div class="footer_list">
	{% if menu %}
		<div class="ui grid">
			{% for item in menu %}
		    <div class="ui item">
		    	<p class="footer_list_item"><a target="{{ item.target }}" href="{{ item.url }}">{{ item.title }}</a></p>
		    </div>
			{% endfor %}
			<div class="ui item">
				<form role='search' method='get' id='searchform_footer' action='/' class="footer_list_item footer_list_item--search">					
					<div class="search_input_wrapper hide">
						<i class="remove icon"></i>
						<input type='text' value='' name='s' id='s2' placeholder='Search' class='inactive'>
					</div>
					<div class='search_submit_wrapper'>
						<input type='submit' id='searchsubmit_footer'>
						<i class="search icon"></i>
					</div>
					
				</form>
			</div>
		</div>
	</div>
	{% endif %}
	
	<hr>
	
	<div class="footer_bureau">
		<div class="img_footer">
			<img src="{{ site.theme_url }}/assets/img/us_flag_greyscale.svg">
		</div>
		<p class="footer_bureau_txt">U.S. Department of State | Bureau of International Information Programs</p>
	</div>
	
	<div class="footer_disclaimer">
		<p class="footer_disclaimer_txt">This site is managed by the U.S. Department of State. Links to external sites should not be construed as an endorsement of the views or privacy policies expressed on those sites.</p>
	</div>

</div><!-- footer_wrapper -->

