{% extends "base.twig" %}

{% block content %}
  <section class="hero hero--bg_img" data-responsive-background-image>    
    <img src="{{ header_url }}"
      sizes="{{ sizes }}"
      srcset="{{ srcset }}">
    <div class="hero-inner bottom_padd bottom_padd--thick_home">
      <div class="hero-content ui container">
        <h1 class="hero-h1">Young African Leaders Initiative</h1>        
        <p>The Young African Leaders Initiative (YALI) is a signature effort to invest in the next generation of African leaders.</p>        
      </div>
    </div>
  </section>
  <section class="ui container title-overlay">    
    <h1 class='title-overlay_title'>{{ page_data.title.rendered }}</h1> 
    <div class='inner-container'>           
      <div class='home'>
        <section class='home_intro'>
          <div class='ui stackable grid home_intro_items'>
            <div class='ui three column row home_intro_items_row'>
              <div class='column home_intro_item'>
                <p class='text_bold item_headline'>Mandela Washington Fellowship</p>
                <p class='item_excerpt'>
                  The Mandela Washington Fellowship is YALI’s flagship program, bringing African civic, business, and community leaders for academic coursework, leadership training, and networking at U.S. colleges and universities.
                </p>
                <p class='text_bold item_link'>
                  <a href='/mwf'>
                    <span class='text-wrap'>More about the Mandela <br class='word-break'>Washington Fellowship</span> <i class='angle right icon'></i>
                  </a>
                </p>
              </div>
              <div class='column home_intro_item'>
                <p class='text_bold item_headline'>Regional Leadership Centers</p>
                <p class='item_excerpt'>
                  The four YALI Regional Leadership Centers provide in-person and online training throughout the year in business and entrepreneurship, civic leadership and public management. They also offer extensive opportunities for professional development and networking.
                </p>
                <p class='text_bold item_link'>
                  <a href='/rlc'>
                    <span class='text-wrap'>More about the Regional <br class='word-break'>Leadership Centers </span><i class='angle right icon'></i>
                  </a>
                </p>
              </div>
              <div class='column home_intro_item'>
                <p class='text_bold item_headline'>YALI Network</p>
                <p class='item_excerpt'>
                  Through the YALI Network, young Africans can connect with other leaders in their community, and access free online courses in topics ranging from entrepreneurship to human rights and civic participation.
                </p>
                <p class='text_bold item_link'>
                  <a href='/network'>
                    <span class='text-wrap'>More about the <br class='word-break'>YALI Network </span><i class='angle right icon'></i>
                  </a>
                </p>
              </div>
            </div>
          </div>          
        </section>
        <section class='home_main'>          
          {{ page_data.content.rendered }}          
        </section>
      </div>
    </div>
  </section>
{% endblock %}