{% extends "base.twig" %}

{% block content %}
  <section class="hero hero--bg_img" data-responsive-background-image>    
    <img src="{{ header_url }}"
      sizes="{{ sizes }}"
      srcset="{{ srcset }}">
    <div class="hero-inner bottom_padd bottom_padd--thick_home">
      <div class="hero-content ui container">
        <h1 class="hero-h1">Young African Leaders Initiative</h1>        
        <p>The Young African Leaders Initiative (YALI) is a signature effort to invest in the next generation of African leaders.</p>        
      </div>
    </div>
  </section>
  <section class="ui container title-overlay">    
    <h2 class='title-overlay_title'>{{ page_data.title.rendered }}</h2> 
    <div class='inner-container'>           
      <div class='home'>
        <section class='home_intro'>
          <div class='ui stackable grid home_intro_items'>
            <div class='ui three column row home_intro_items_row'>
              <div class='column home_intro_item'>
                <p class='text_bold item_headline'>Mandela Washington Fellowship</p>
                <p class='item_excerpt'>
                  Launched in 2014, the Mandela Washington Fellowship is YALI's flagship program. It brings up to
                  1,000 African civic, business and community leaders aged 25-35 for six weeks of academic coursework,
                  leadership training and networking at U.S. universities.
                </p>
                <p class='text_bold item_link'>
                  <a href='/mandela-washington-fellowship'>
                    More about the Mandela 
                    <span class='item_link_break'>
                      Washington 
                      <span class='item_link_break--mwf'>
                        Fellowship 
                        <i class='angle right icon'></i>
                      </span>
                    </span>
                  </a>
                </p>
              </div>
              <div class='column home_intro_item'>
                <p class='text_bold item_headline'>Regional Leadership Centers</p>
                <p class='item_excerpt'>
                  The four YALI Regional Leadership Centers &mdash; in Ghana, Kenya, Senegal, and South Africa &mdash; are located at African institutions of higher education and offer in-person and online training to young leaders aged 18 and 35.
                </p>
                <p class='text_bold item_link'>
                  <a href='/regional-leadership-centers'>
                    More about the Regional 
                    <span class='item_link_break'>Leadership Centers <i class='angle right icon'></i></span>
                  </a>
                </p>
              </div>
              <div class='column home_intro_item'>
                <p class='text_bold item_headline'>YALI Network</p>
                <p class='item_excerpt'>
                  Through the YALI Network, young Africans can connect with other leaders in their community, access
                  free online courses in topics ranging from climate change to entrepreneurship to human rights, 
                  and receive invitations to special events.
                </p>
                <p class='text_bold item_link'>
                  <a href='/regional-leadership-centers'>
                    More about the 
                    <span class='item_link_break item_link_break--network'>YALI Network <i class='angle right icon'></i></span>
                  </a>
                </p>
              </div>
            </div>
          </div>          
        </section>
        <section class='home_main'>          
          {{ page_data.content.rendered }}          
        </section>
      </div>
    </div>
  </section>
{% endblock %}