{% extends "base.twig" %}

{% block content %}

{% if header_url is not empty %}
  {% if ( hero_title_display == 'yes' ) or ( hero_title_display == 'no') %}
  <section class='hero hero--bg_img' style='background-image: url("{{ header_url }}"); background-size: cover;'>
      <div class='hero-inner bottom_padd {{ hero_title_display == "yes" ? "bottom_padd--thin" : "bottom_padd--thick" }} '>
      	{% if hero_title_display == 'yes' %}
      	<div class='hero-content ui container'>
      		<h1 class='hero-h1'>{{ page_data.title.rendered }}</h1>
          <p class='subtitle'>{{ hero_subtitle }}</p>
      	</div>
      	{% endif %}
				{% if ( hero_attribution_display == 'yes' ) and ( hero_attribution_value is not empty) %}
				<p class='hero-attribution'>{{ hero_attribution_value }}</p>
				{% endif %}
      </div>
  </section>
  {% endif %}
{% endif %}

<section class='ui container'>
	{% if ( hero_title_display == 'no' ) or ( hero_title_display == 'hide' )%}
  	<h1 class='title-overlay_title'>{{ page_data.title.rendered }}</h1>
    <h4 class='subtitle-container'>{{ hero_subtitle }}</h4>
	{% endif %}
	<div class='inner-container'>
		<div class='page-content'>
			{{ page_data.content.rendered }}
		</div>
	</div>

</section>

{% endblock %}
