{% extends 'base.twig' %}

{% block content %}

<section class='ui container'>		
	
	<div class='inner-container search_results'>
		<h1 class='title-overlay_title search_results_title'>Search results for: '{{ search_term }}'</h1>
		<div class='ui stackable grid search_results_list'>			
			{% for post in search_results %}

			{% if loop.index0 % 3 == 0 %}
			<div class='three column row results_list_row {% if loop.index > 12 %} hidden {% endif %}'>
			{% endif %}
				
				<article class='column results_article'>
					<h4 class='results_article_title'>
						<a href='{{ post.post_name }}'>{{ post.post_title }}</a>
					</h4>
					<p class='results_article_excerpt'>
						{% if post.post_excerpt is not empty %}
							{{ post.post_excerpt }}
						{% else %}
							{{ post.yali_excerpt }}
						{% endif %}
					</p>
				</article>	

			{% if (loop.index is divisible by(3)) or (loop.last) %}
			</div>
			{% endif %}	
			
			{% endfor %}		

			{% if search_results|length > 12 %}
			<div class='cta_link cta_link--showmore'>
				<h3>Show More <i class='caret down icon'></i></h3>
			</div>
			{% endif %}
		</div>		
	</div>		

</section>	
{% endblock %}