{% extends 'base.twig' %}

{% block content %}

{% set series_name = (post_data.post_series_names is not empty) ? post_data.post_series_names[0].name : '' %}

{% if header_url is not empty %}
  {% if ( hero_title_display == 'yes' ) or ( hero_title_display == 'no') %}
  <section class='hero hero--bg_img' style='background-image: url("{{ header_url }}"); background-size: cover;'>
      <div class='hero-inner bottom_padd {{ hero_title_display == "yes" ? "bottom_padd--thin" : "bottom_padd--thick" }} '>
      	{% if hero_title_display == 'yes' %}
      	<div class='hero-content ui container'>
      		<h2 class='hero-h1'>{{ post_data.title.rendered }}</h1>
          <p class='subtitle'>{{ hero_subtitle }}</p>
      	</div>
      	{% endif %}
      </div>
  </section>
  {% endif %}
{% endif %}

<section class='ui container'>
	{% if ( hero_title_display == 'no' ) or ( hero_title_display == 'hide' )%}
  	<h2 class='title-overlay_title'>{{ post_data.title.rendered }}</h2>
    <h5 class='subtitle-container'>{{ hero_subtitle }}</h5>
	{% endif %}

	<div class='inner-container single_post'>
		<section class='section single_post_content'>
			<div>{{ post_data.content.rendered }}</div>

      <div class="addthis_inline_share_toolbox"></div>
      <div class='single_post_tax'>
				{% for term in taxonomy_terms %}
					{% if term.taxonomy == 'post_tag' %}
					<p class='tax_term'>
						<a href='/tag/{{ term.slug }}'>{{ term.name }}</a>{% if not loop.last %},{% endif %}
					</p>
					{% else %}
					<p class='tax_term'>
						<a href='/{{ term.taxonomy }}/{{ term.slug }}'>{{ term.name }}</a>{% if not loop.last %},{% endif %}
					</p>
					{% endif %}
				{% endfor %}
			</div>

			<h4 class='archive_link'>
				<a
					class='cta_link'
					{% if series_name is not empty %}
					href='/{{ post_data.post_series_names[0].taxonomy }}/{{ post_data.post_series_names[0].slug }}'
					{% else %}
					href='/learning'
					{% endif %}
					>
					More from "{{ (series_name is not empty ? series_name : 'YALI Network in Action') }}" <i class='angle right icon'></i>
				</a>
			</h4>
		</section>
	</div>
</section>

		{% if post_data.post_content_type_names[0].name == 'Podcast' %}
		{{ social_block }}
		{% endif %}


{% if related_content_display == 'yes' %}
		{% include 'content_blocks/post_listings_simple_filter.twig' with
			{
				title: 'Related Content',
				show_more_block: 'true',
				posts: [
					{
						link: 'http://yali.rebuild.local/wp/lorem-ipsum/',
						headline: 'Post 1 Lorem ipsum set abet ipsum',
						excerpt: 'Lorem ipsum set abet ipsum Lorem ipsum set abet ipsum',
						tags: [
							{ 'term_id': '4', name: 'tag 1', slug: 'tag-1' },
							{ 'term_id': '5', name: 'tag 2', slug: 'lorem' },
							{ 'term_id': '6', name: 'tag 3', slug: 'ipsum' },
						],
						featured_img_url: 'data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='
					},
					{
						link: 'http://yali.rebuild.local/wp/lorem-ipsum/',
						headline: 'Post 2 Lorem ipsum set abet ipsum',
						excerpt: 'Lorem ipsum set abet ipsum Lorem ipsum set abet ipsum',
						tags: [
							{ 'term_id': '4', name: 'tag 1', slug: 'tag-1' },
							{ 'term_id': '5', name: 'tag 2', slug: 'lorem' },
							{ 'term_id': '6', name: 'tag 3', slug: 'ipsum' },
						],
						featured_img_url: 'data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='
					},
					{
						link: 'http://yali.rebuild.local/wp/lorem-ipsum/',
						headline: 'Post 3 Lorem ipsum set abet ipsum',
						excerpt: 'Lorem ipsum set abet ipsum Lorem ipsum set abet ipsum',
						tags: [
							{ 'term_id': '4', name: 'tag 1', slug: 'tag-1' },
							{ 'term_id': '5', name: 'tag 2', slug: 'lorem' },
							{ 'term_id': '6', name: 'tag 3', slug: 'ipsum' },
						],
						featured_img_url: 'data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='
					},
					{
						link: 'http://yali.rebuild.local/wp/lorem-ipsum/',
						headline: 'Post 4 Lorem ipsum set abet ipsum',
						excerpt: 'Lorem ipsum set abet ipsum Lorem ipsum set abet ipsum',
						tags: [
							{ 'term_id': '4', name: 'tag 1', slug: 'tag-1' },
							{ 'term_id': '5', name: 'tag 2', slug: 'lorem' },
							{ 'term_id': '6', name: 'tag 3', slug: 'ipsum' },
						],
						featured_img_url: 'data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='
					},
					{
						link: 'http://yali.rebuild.local/wp/lorem-ipsum/',
						headline: 'Post 5 Lorem ipsum set abet ipsum',
						excerpt: 'Lorem ipsum set abet ipsum Lorem ipsum set abet ipsum',
						tags: [
							{ 'term_id': '4', name: 'tag 1', slug: 'tag-1' },
							{ 'term_id': '5', name: 'tag 2', slug: 'lorem' },
							{ 'term_id': '6', name: 'tag 3', slug: 'ipsum' },
						],
						featured_img_url: 'data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='
					},
					{
						link: 'http://yali.rebuild.local/wp/lorem-ipsum/',
						headline: 'Post 6 Lorem ipsum set abet ipsum',
						excerpt: 'Lorem ipsum set abet ipsum Lorem ipsum set abet ipsum',
						tags: [
							{ 'term_id': '4', name: 'tag 1', slug: 'tag-1' },
							{ 'term_id': '5', name: 'tag 2', slug: 'lorem' },
							{ 'term_id': '6', name: 'tag 3', slug: 'ipsum' },
						],
						featured_img_url: 'data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='
					},
					{
						link: 'http://yali.rebuild.local/wp/lorem-ipsum/',
						headline: 'Post 7 Lorem ipsum set abet ipsum',
						excerpt: 'Lorem ipsum set abet ipsum Lorem ipsum set abet ipsum',
						tags: [
							{ 'term_id': '4', name: 'tag 1', slug: 'tag-1' },
							{ 'term_id': '5', name: 'tag 2', slug: 'lorem' },
							{ 'term_id': '6', name: 'tag 3', slug: 'ipsum' },
						],
						featured_img_url: 'data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='
					},
					{
						link: 'http://yali.rebuild.local/wp/lorem-ipsum/',
						headline: 'Post 8 Lorem ipsum set abet ipsum',
						excerpt: 'Lorem ipsum set abet ipsum Lorem ipsum set abet ipsum',
						tags: [
							{ 'term_id': '4', name: 'tag 1', slug: 'tag-1' },
							{ 'term_id': '5', name: 'tag 2', slug: 'lorem' },
							{ 'term_id': '6', name: 'tag 3', slug: 'ipsum' },
						],
						featured_img_url: 'data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='
					}
				]
			}
		%}
	{% endif %}
	</div>
</section>

{% endblock %}
