<div class='filter_mobile_wrapper'>
	<p class='cta_link filter_mobile_search'>Refine Search</p>
	<div class='dropdown_filter'>
		
		{% if 'content_type' in filters %}
		<div class='filter'>
			<p class='filter_type'>Type<i class='caret down icon'></i></p>
			<div class='filter_menu'>
				<span class='opaque_bg'></span>
				{% for type in content_types %}
					<div class='filter_menu_item'>							
						<input type='checkbox' name='{{ type | lower }}' value={{ type }} data-tax-item={{ type | lower }}>
						<label>{{ type }}</label>
					</div>
				{% endfor %}				
			</div><!-- .filter_menu -->
		</div><!-- .filter -->		
		{% endif %}

		{% if 'subject' in filters %}
		<div class='filter' data-tax='category'>
			<p class='filter_type'>Subject<i class='caret down icon'></i></p>
			<div class='filter_menu'>
				<span class='opaque_bg'></span>
				{% for cat in category_list if cat.name != 'Uncategorized' %}
				<div class='filter_menu_item'>							
					<input type='checkbox' name='{{ cat.slug }}' value="{{ cat.name }}" data-tax-item='{{ cat.slug }}'>
					<label>{{ cat.name }}</label>
				</div>
				{% endfor %}					
			</div><!-- .filter_menu -->
		</div><!-- .filter -->
		{% endif %}

		{% if 'series' in filters %}
		<div class='filter' data-tax='series'>
			<p class='filter_type'>Series<i class='caret down icon'></i></p>
			<div class='filter_menu'>
				<span class='opaque_bg'></span>		
				{% for series in series_list %}
				<div class='filter_menu_item'>							
					<input type='checkbox' name='{{ series.slug }}' value="{{ series.name }}" data-tax-item='{{ series.slug }}'>
					<label>{{ series.name }}</label>
				</div>
				{% endfor %}				
			</div><!-- .filter_menu -->
		</div><!-- .filter -->	
		{% endif %}

		{% if 'language' in filters %}
		<div class='filter'>
			<p class='filter_type'>Language<i class='caret down icon'></i></p>
			<div class='filter_menu'>
				<span class='opaque_bg'></span>
				<div class='filter_menu_item'>							
					<input type='checkbox' name='english' value='English'>
					<label>English</label>
				</div>
				<div class='filter_menu_item'>							
					<input type='checkbox' name='francais' value='Francais'>
					<label>Francais</label>
				</div>						
			</div><!-- .filter_menu -->
		</div><!-- .filter -->
		{% endif %}

		{% if 'sort' in filters %}
		<div class='filter'>
			<p class='filter_type'>Sort By<i class='caret down icon'></i></p>
			<div class='filter_menu'>
				<span class='opaque_bg'></span>
				<div class='filter_menu_item'>							
					<input type='checkbox' name='most_recent' value='Most Recent'>
					<label>Most Recent</label>
				</div>
				<div class='filter_menu_item'>							
					<input type='checkbox' name='a_z' value='A-Z'>
					<label>A-Z</label>
				</div>						
			</div><!-- .filter_menu -->
		</div><!-- .filter -->	
		{% endif %}

		<input type='submit' class='cta_link filter_mobile_submit' value='Apply Filters'>
	</div><!-- .dropdown_filter -->	
</div>