{% extends "base.twig" %}

{% block content %}  
  <div class="hero">
    <img class="ui fluid image" src="{{ header_url }}" srcset="{{ srcset }}" sizes="{{ size }}" alt="{{ header_url }}">
    <div class="hero-inner">
      <div class="hero-content ui container">
        <h1 class="hero-h1">Young African Leaders Initiative</h1>
        <h1 class="hero-h1_m">YALI</h1>
        <p>The Young African Leaders Initiative (YALI) is a signature effort to invest in the next generation of African leaders.</p>     
      </div>
    </div>
  </div>
  <div class="ui container title-overlay">
    <h2>{{ page_data.title.rendered }}</h2>      
    <div class="columns-text">        
      {{ page_data.content.rendered }}
    </div> 
    <div class="full-width" style="background-color: #25ACE2; margin-top: 100px; padding: 40px;">
      <div class="ui container">[ CONTENT BLOCK FULL-WIDTH CONTENT]</div>
    </div>   
  </div>
  
  </div>
{% endblock %}