<div class="footer_wrapper">
	<div class="footer_branding">
		<a href='{{ site.url }}'>
			<div class="img_placeholder">
				<img src="{{ site.theme_url }}/assets/img/yali_logo_mark.svg">
			</div>
			<h5 href="/yalinav">Young African Leaders Initiative</h5>
		</a>
	</div>
	<div class="footer_list">
	{% if menu %}
		<div class="ui grid">
			{% for item in menu %}
		     <div class="ui item">
		       <p><a target="{{ item.target }}" href="{{ item.url }}">{{ item.title }}</a></p>
		     </div>
			{% endfor %}
		</div>
	</div>
	{% endif %}
	<hr>
	<div class="footer_bureau">
		<div class="img_footer">
			<img src="{{ site.theme_url }}/assets/img/us_flag_greyscale.svg">
		</div>
		<p>U.S. Department of State | Bureau of International Information Programs</p>
	</div>
	<div class="footer_disclaimer">
		<p>This site is managed by the U.S. Department of State. Links to external sites should not be construed as an endorsement of the views or privacy policies expressed on those sites.</p>
	</div>
</div><!-- footer_wrapper -->

