{% if menu %}
	{% for item in menu %}
    <div class="item">
      <a target="{{ item.target }}" href="{{ item.link }}">
      {{ item.title }}
      {% if item.get_children %}
        <i class="dropdown icon"></i>
        {% include "menu.twig" with {'menu': item.get_children} %}
      {% endif %}
      </a>
    </div>
	{% endfor %}
{% endif %}



{#{% if menu %}
	{% for item in menu %}
		<li class="item {{ item.classes | join(' ') }}">
			<a target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
			{% include "menu.twig" with {'menu': item.get_children} %}
		</li>
	{% endfor %}
{% endif %}#}