{% if menu %}
	{% for item in menu %}
     <div class="ui item {{ item.children ? 'dropdown' : '' }}">
       <a target="{{ item.target }}" href="{{ item.url }}">{{ item.title }}</a>
       {% if item.children %}
          <i class="dropdown icon"></i>
          <div class="menu">
            {% for child in item.children %}
              <a class="item" target="{{ child.target }}" href="{{ child.url }}">{{ child.title }}</a>
            {% endfor %}
          </div>
       {% endif %}
     </div>
	{% endfor %}
{% endif %}
