<nav class='nav ui top fixed menu'>
  <div class='nav_wrapper'>
    <a href='{{ site.url }}' class='nav_siteurl'>
      <div class='img_placeholder'>
        <img src="{{ site.theme_url }}/assets/img/yali_logo_mark.svg">
      </div>				
      <span href='/yalinav'>Young African Leaders Initiative</span>
    </a>
    <div class='nav_right'>
      <div class='nav_join nav_join--mobile'>
        <p>JOIN THE NETWORK</p>
      </div>
      {% if menu %}
      <ul class='nav_menu'>
        <span class='opaque_bg'></span>
        {% for item in menu %}          
          <li class='nav_menu_item ui {{ item.children ? "dropdown" : "" }}'>					
            <div class='nav_menu_item_title-wrapper'>
              <span>{{ item.title }}</span>
              {#<a href="{{ child.url }}">{{ child.title }}</a>#}
              {% if  item.children %}
                <span class='menuDropdown downArrow'></span>
              {% endif %}
            </div>
            {% if item.children %}
              <ul class='nav_menu_submenu menu'>
                <span class='opaque_bg'></span>
                {% for child in item.children %}
                  <li class='nav_menu_submenu_item item'><a href="{{ child.url }}">{{ child.title }}</a></li>
                 {% endfor %}
              </ul>
            {% endif %}
          </li> 
        {% endfor %}
        <li class='nav_join nav_join--desktop'>
          <p>JOIN THE NETWORK</p>
        </li>					
        <li class='nav_menu_item nav_menu_item--search ui search'>
          <div class='search_wrapper'>
            <input type='text' placeholder='Search Placeholder' class='hide'>
            <span class='search-icon_wrapper'>
              <i class='search icon'></i>	
            </span>							
          </div>						
        </li>
        <li class='nav_menu_item nav_menu_item--social'>
          <div>
            <p>Stay Connected with us:</p>
            <i class='facebook f icon'></i>
            <i class='linkedin icon'></i>
            <i class='twitter icon'></i>
          </div>
        </li>               
      </ul>
      {% endif %}
    </div>                            
    <div class='burger'>
      <span></span>
      <span></span>
      <span></span>
    </div>
    {% include 'partials/join-form.twig' %}
  </div><!-- nav_wrapper -->  
</nav>
