{% extends 'base.twig' %}

{% block content %}
<div class='hero'>
    <img class='ui fluid image' src='{{ header_url }}' srcset='{{ srcset }}' sizes='{{ size }}' alt='{{ header_url }}'>
	    <div class='hero-inner'>
	    <div class='hero-content ui container'>
	        <h1 class="hero-h1">{{ page_data.title.rendered }}</h1>        
	        {{ page_data.content.rendered }}
	    </div>
    </div>
</div>
<div class='ui container'>
	<div class='inner-container'>
		<div class='ui stackable grid campaigns_list'>
			{% for campaign in campaigns %}
			<div class='row list_item'>
				<div class='six wide column list_item_img'>
					<img class='' src='{{ campaign.featured_img_url }}'>
				</div>
				<div class='ten wide column'>
					<div class='list_item_content'>
						<h3>
							<a href='{{ campaign.link }}' class='list_item_link'>{{ campaign.title.rendered }}</a>
						</h3>
						<div class='list_item_excerpt'>{{ campaign.excerpt.rendered }}</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}