{% extends 'base.twig' %}

{% block content %}
<div class="ui container hero">
    <img class="ui fluid image" src="{{ header_url }}" srcset="{{ srcset }}" sizes="{{ size }}" alt="{{ header_url }}">
</div>

<section class='ui container section intro'>
	<div class='inner-container'>		
		<h2>{{ page_data.title.rendered }}</h2>
		<p>{{ page_data.content.rendered }}</p>	
	</div>
</section>

<section class='section step'>	
	<div class='ui container step_content step_content--one'>
		<div class='inner-container'>		
			<h3>Step One</h3>
			<h4>Take a #YALILearns Course</h4>
			<p>With topics ranging from business & entrepreneurship to climate change to civic leadership, there is sure to 
			a course (or several!!) that you are interested in. Take a <b>YALI Network online course</b>, pass the quiz, and get
			your certificate. You are now ready to plan an event and teach the course to others.
			</p>
			<p>Featured courses include:</p>
		</div>
	</div>
	<div class='ui container step_overlap step_overlap--one'>
		<div class='inner-container'>
			<div class='ui stackable grid step_overlap--items'>
				<div class='eight wide column step_overlap--item'>
					<img src='data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='>
					<h5>Servant Leadership -The Deciding Difference</h5>
					<p>This course covers the origins and principles of servant leadership, a comparative review of other
						key leadership styles, the benefits and criticisms of servant leadership, and how to become a servant
						leader.</p>
				</div>
				<div class='eight wide column step_overlap--item'>
					<img src='data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='>
					<h5>Strategies for Personal Growth</h5>
					<p>This course outlines the different ways you can develop your business, organization and personal
						skills.</p>
				</div>
			</div>
		</div>
	</div>	
</section>

<section class='section step'>
	<div class='ui container step_content step_content--two'>
		<div class='inner-container'>
			<h3>Step Two</h3>
			<h4>Plan Your Event</h4>
			<ol>
				<li>Decide which <b>YALI Network Course</b> you would like to facilitate and where you would like to 
					hold your event.</li>
				<li>Promote you event through social media (like an event on YALI Network face2face) or send email,
					WhatsApp message, or SMS to firends, family, and those in your network inviting them to your 
					#YALILearns event. Be sure to provide all the relevant details.</li>
				<li>Decide how you will present the YALI Network Online Course, you have three options:
					<ul>
						<li>Stream the video,</li>
						<li><b>Download the video</b>, or</li>
						<li>Print and distribute the written transcripts.</li>
					</ul>
				</li>
				<li>To prepare for your event, review the lesson discussion guides for your chosen course and watch
					the "<b>Designing and Delivering Training</b>" lesson.</li>
			</ol>
			<p><b>Please remember that all #YALILearns events are organized on the basis of educating your community
				with shared YALI Network resources. You should never charge a fee for a YALI Network event, and remind
				others if you see this occurring</b>.</p>
		</div>
	</div>
	<div class='ui container step_overlap step_overlap--two'>
		<div class='inner-container'>
			<div class='event_cta_wrapper'>
				<div class='event_cta_inner'>
					<h4>Not ready to plan your own event?</h4>
					<p>Visit the YALI Network face2face page to find a #YALILearns event neat you and comment with
						your peers</p>
					<h5 class='event_cta_link'>
						<a href="#"> Find an event <i class="angle right icon"></i></a>
					</h5>
				</div>
			</div>
		</div>
	</div>
</section>

<section class='section step'>
	<div class='ui container step_content step_content--three'>
		<div class='inner-container'>
			<h3>Step Three</h3>
			<h4>Conduct Your Event</h4>
			<p>Download the <b>Event Planning Toolkit</b> (PDF) for detailed steps on how to organize your events.</p>
			<ol>
				<li>Introduce the topic and present your chosen YALI Network Online Course.</li>
				<li>Lead a review of each lesson and solicit questions and comments from the audience.</li>
				<li>Be sure to create an inclusive environment that allows for positive, constructive conversation. 
					You can do so with some of the following techniques:
					<ul>
						<li>Have participants introduce themselves.</li>
						<li>Share your own views and experiences with the group.</li>
						<li>Be clear about expectations of respect and consideration from the beginning.</li>
						<li>Encourage participants to share and challenge their own views by asking questions.</li>
					</ul>
				</li>
				<li>Use the Lesson Discussion Guide (available under the Resources tab for each YALI Network Online Course lesson)
				 to facilitate a group conversation on the topic:
				 	<ul>
				 		<li>The Learning Objectives are a good way to clarify terms.</li>				 		
				 		<li>The Discussion Questions are a useful resource for questions to ask the group to start dialogue.</li>
				 		<li>The Developmental Actions will assist in putting the lesson material into practice.</li>
				 	</ul>
				</li>
				<li>Invite participants to join the YALI Network if they are not already members and encourage participants
					to hold their own #YALILearns events.</li>
			</ol>
		</div><!-- inner-container -->
	</div>
</section>

<section class='section step'>
	<div class='ui container step_content step_content--four'>
		<div class='inner-container'>
			<h3>Step Four<h3>
			<h4>Report Back</h4>
			<p>Congratulations on facilitating a #YALILearns event! Tell us how it went on the <b>#YALILearns feedback page</b>.
				And remember to share the outcomes of your event with other YALI Network members on the <b>YALI Network face2face</b>
				page!</p>
		</div><!-- inner-container -->
	</div>
</section>

<section class='ui container section materials'>
	<div class='inner-container'>
		<h2>#YALILearns Event Materials</h2>
		<p>Ready to start planning your YALILearns event? Here are all the materials you need to help plan and
			conduct your #YALILearns event.</p>
		<div class='materials--promo'>
			<h3>Promotional Materials</h3>
			<div class='ui stackable grid promo_items'>
				<div class='three column row'>
					<div class='column promo_item'>
						<img src='data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='>
						<h5 class='promo_item_title'>YALILearns logo (PNG)</h5>
					</div>
					<div class='column promo_item'>
						<img src='data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='>
						<h5 class='promo_item_title'>YALILearns T-shirt</h5>
					</div>
					<div class='column promo_item'>
						<img src='data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='>
						<h5 class='promo_item_title'>Sample Signup</h5>
					</div>
				</div>
				<div class='three column row'>
					<div class='column promo_item'>
						<img src='data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='>
						<h5 class='promo_item_title'>Facebook/Twitter Profile Photo</h5>
					</div>
					<div class='column promo_item'>
						<img src='data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='>
						<h5 class='promo_item_title'>Facebook Cover Photo (JPG)</h5>
					</div>
					<div class='column promo_item'>
						<img src='data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='>
						<h5 class='promo_item_title'>Instagram Image (JPG)</h5>
					</div>
				</div>
			</div>
		</div>
		<div class='materials--campaigns'>
			<h3>Campaign Materials</h3>
			<p>Download handouts, discussion guides, Powerpoints and more for all the YALI Network Online Courses.</p>
			<div class='ui styled accordion'>
				<h4 class='title'>#YALIStands4All Materials</h4>
				<div class='content'>
					<h5>Course Link:</h5>
					<p><a href="#">Understanding Elections and Civic Responsibility</a></p>
					<h5>PDFs to Download:</h5>
					<p><a href="#">How to facilitate a #YALILearns session on Understanding Elections and Civic Responsibility</a></p>
					<p>Discussion Guide: <a href="#">Getting the Most From Your Vote</a></p>
					<p><a href="#">Grassroots Organizing for Civic Engagement<a></p>
					<p>Discussion Guide: <a href="#">Engaging with Candidates and Elected Officials</a></p>
				</div>

				<h4 class='title'>#YALIGoesGreen Materials</h4>
				<div class='content'>
					<h5>Course Link:</h5>
					<p><a href="#">Understanding Elections and Civic Responsibility</a></p>
					<h5>PDFs to Download:</h5>
					<p><a href="#">How to facilitate a #YALILearns session on Understanding Elections and Civic Responsibility</a></p>
					<p>Discussion Guide: <a href="#">Getting the Most From Your Vote</a></p>
					<p><a href="#">Grassroots Organizing for Civic Engagement<a></p>
					<p>Discussion Guide: <a href="#">Engaging with Candidates and Elected Officials</a></p>
				</div>

				<h4 class='title'>#Africa4Her Materials</h4>
				<div class='content'>
					<h5>Course Link:</h5>
					<p><a href="#">Understanding Elections and Civic Responsibility</a></p>
					<h5>PDFs to Download:</h5>
					<p><a href="#">How to facilitate a #YALILearns session on Understanding Elections and Civic Responsibility</a></p>
					<p>Discussion Guide: <a href="#">Getting the Most From Your Vote</a></p>
					<p><a href="#">Grassroots Organizing for Civic Engagement<a></p>
					<p>Discussion Guide: <a href="#">Engaging with Candidates and Elected Officials</a></p>
				</div>

				<h4 class='title'>#YALIVotes Materials</h4>
				<div class='content'>
					<h5>Course Link:</h5>
					<p><a href="#">Understanding Elections and Civic Responsibility</a></p>
					<h5>PDFs to Download:</h5>
					<p><a href="#">How to facilitate a #YALILearns session on Understanding Elections and Civic Responsibility</a></p>
					<p>Discussion Guide: <a href="#">Getting the Most From Your Vote</a></p>
					<p><a href="#">Grassroots Organizing for Civic Engagement<a></p>
					<p>Discussion Guide: <a href="#">Engaging with Candidates and Elected Officials</a></p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class='ui container section feat_course'>
	<div class='inner-container'>
		<h2 class='feat_course_title'>Featured Online Course</h2>
		<div class='ui stackable grid feat_course_content'>
			<div class='four wide column feat_course_thumb'>
				<img src='data:image/gif;base64,R0lGODlhAQABAPAAAMzMzP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='>
			</div>
			<div class='twelve wide column feat_course_excerpt'>
				<h4>Lorem Ipsum Dolor Sit Amet</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam egestas malesuada neque a finibus. 
					Donec turpis est, viverra vitae elit vel, dignissim lobortis elit. Donec feugiat orci at enim iaculis, 
					ut porta dui placerat. Donec posuere tellus in est cursus vestibulum. Aenean eu leo elementum, rutrum 
					odio ut, iaculis magna. Aliquam tempor sapien ut dui pellentesque, vitae lobortis ante aliquet. 
					Curabitur vulputate tempus lobortis.
				</p>
				<p class='feat_course_cta'><a href="#">Take this course</a></p>
				<p class='feat_course_cta'><a href="#">Cours en francais</a></p>
			</div>
		</div>
	</div>
</section>

<section class='section social'>
	{{ social_block }}
</section>

{% endblock %}